@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=DM+Sans:opsz@9..40&display=swap');
body{
   padding: 0px 96px;
}
.header {
   margin: 64px 0px 16px;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 1fr;
   .header__logo{
      grid-column: 1/6;
      a svg{
         width: max(15vw);
      }
   }
   .header__link{
      grid-column: 6/13;
      nav{
         display: flex;
         justify-content: flex-end;
         .navbar__page{
            grid-column: 1/8;
            ul{
               display: flex;
               justify-content: space-between;
               align-items: center;
               li a {
                  font-family: 'DM Sans', sans-serif;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 27px;
                  margin: 0px 1.5vw;
                  padding-bottom: 10px;
                  // &:hover{
                  //    transition: 50ms all ease-in-out;
                  //    border-radius:1px;
                  //    border-bottom: 2px solid #000;
                  // }
                  &:active{
                     transition: 50ms all ease-in-out;
                     border-radius:1px;
                     border-bottom: 2px solid #000;
                  }
               }
            }
         }
         .header__verticalhr{
            display: flex;
            justify-content: center;
            align-items: center;
            hr{
               height: 17px;
               border: 1px solid #70707054;
               border-radius: 10px;
            }
         }
         .navbar__user{
            ul{
               display: flex;
               justify-content: space-between;
               align-items: center;
               li a {
                  margin: 0px 1.5vw;
                  padding-bottom: 10px;
                  // &:hover{
                  //    transition: 50ms all ease-in-out;
                  //    border-radius:1px;
                  //    border-bottom: 2px solid #000;
                  // }
                  &:active{
                     transition: 50ms all ease-in-out;
                     border-radius:1px;
                     border-bottom: 2px solid #000;
                  }
               }
            }
         }
      }
      
   }
}

@media screen and (max-width: 850px){
   .header{
      .header__logo{
         grid-column: 1/5;
      }
      .header__link{
         grid-column: 5/13;
      }
   }
}




