//Slider
.slider_top {
   max-width: 1248px;
   height: auto;
   position: relative;
   top: 16px;
   margin: 0 auto;
   margin-bottom: 20px;

   .slider-container {
      position: relative;
      overflow: hidden;
      max-height: 646px;
      border-radius: 15px;
    
   }

   .slider {
      display: flex;
      transition: transform 0.5s ease-in-out;
   }

   .slide {
      flex: 0 0 auto;
      width: 100%;

      img {
         width: 100%;
      }
   }

   .text_prod {
      position: absolute;
      width: 300px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 8px;
      margin-left: 7%;
      margin-top: 20%;

      h1 {
         color: var(--light-colors-white-light, $white-color);
         font-family: DM Sans;
         font-size: clamp(26px, 33px);
         font-style: normal;
         font-weight: 500;
         line-height: 43px;
      }

      h2 {
         margin-top: 10px;
         color: var(--light-colors-white-light, $white-color);

         font-family: DM Sans;
         font-size: clamp(26px, 22px);
         font-style: normal;
         font-weight: 400;
         line-height: 35px;
      }

      a:hover {
         background-color: $gray-color;
      }

      a {
         position: relative;
         width: 193px;
         height: 53px;
         flex-shrink: 0;
         border-radius: 6px;
         border: 2px solid var(--light-colors-white-light, $white-color);
         color: $white-color;
         font-family: DM Sans;
         font-size: 20px;
         font-style: normal;
         font-weight: 700;
         line-height: normal;
         padding: 10px 20px;
         margin-top: 40px;
         text-align: center;

         transition: all 0.3s ease-in-out;

         // @media screen and (max-width: 1440px) {
         //    position: static;
         //    padding: 0;
         //    display: flex;
         //    align-items: center;
         //    justify-content: center;
         //    font-size: 12px;
         //    font-weight: 400;
         //    line-height: 20px;
         //    width: 96px;
         //    height: 32px;
         //    border-radius: 4px;
         //    border: 1px solid var(--light-colors-white-light, $white-color);
         // }
      }
   }

   .radio-buttons {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
   }

   input[type='radio'] {
      display: none;
   }

   label {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
      background-color: $light-gray-color;
   }

   input[type='radio']:checked+label {
      border: 2px solid $white-color;
      background: none;
      width: 14px;
      height: 14px;
      opacity: 0.7;
   }

   @media screen and (min-width: 1460px) {
      .slider-container {
         width: 1248px;
         margin: 0 auto;
      }
   }
}


//! body
.shop-latest {
   max-width: 1248px;
   margin: 0 auto;
   margin-bottom: 500px;
   margin-top: 65px;

   .shop-latest-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 40px 0;

      p {
         font-size: 33px;
         font-weight: 700;
         line-height: 43px;
         letter-spacing: 0em;
      }

      a {
         font-size: 20px;
         font-weight: 500;
         line-height: 26px;
         letter-spacing: 0em;
         color: $accent-color;
         position: relative;
      }
   }

   .shop-latest-blocks {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 54px;
      grid-row-gap: 178px;
      margin: 0 auto;
   }

   .shop-latest__block {
      display: flex;
      flex-direction: column;
      max-width: 377px;
      max-height: 380px;
         .shop-latest_hover {
            min-height: 70px;
         }
      }
   }

   .shop-latest__name {
      margin: 24px 0 16px 0;

      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      color: $black-color;
   }

   .shop-latest__price {
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0em;

      color: $accent-color;
   }
   @media (max-width: 1200px) {
      .home-body {
      .shop-latest-blocks {
         gap: 100px 37px!important;
      }  
      }

   }
   @media (max-width: 980px) {
      .home-body {
      .shop-latest-blocks {
         gap: 50px 20px!important;
      }
      }

   }


@media screen and (max-width: 400px) {
   .slider_top {
      height: auto;

      .slider_top .text_prod {
         display: flex;
         justify-content: flex-end;
      }

      h1 {
         height: 26px;
         margin-bottom: 2px;
      }

      .slider_top .text_prod a {
         margin: 0;
         margin-bottom: 26px;
      }

      .slider_top .text_prod h2 {
         margin: 0;
      }

      .slider_top .radio-buttons {
         bottom: 8px;
      }

      .slider_top label {
         width: 5px;
         height: 5px;
         margin-right: 3px;
      }
   }

   .HomeBody {
      .shop-latest {
         margin-top: 41px;
      }
   }
}





//Slider
@media screen and (max-width: 800px) {
   .slider_top {

      .text_prod {
         h1 {
            font-size: 26px;
            line-height: 27px;
         }

         h2 {
            font-size: 22px;
            line-height: 25px;
         }
      }
   }
}



@media screen and (max-width: 650px) {
   .slider_top {

      .text_prod {
         margin-left: 7px;

         h1 {
            color: var(--light-colors-white-light, $white-color);
            font-family: DM Sans;
            font-size: 26px;
            font-style: normal;
            font-weight: 500;
            line-height: 27px;
         }

         h2 {
            font-size: 22px;
            line-height: 25px;
         }

         a {
            position: relative;
            width: 173px;
            height: 53px;
            font-size: 18px;
         }
      }
   }
}

@media screen and (max-width: 500px) {
   .slider_top {
      .text_prod {
         // margin-left: 7px;
         margin-top: 60%;

         h2 {
            line-height: 15px;
         }

         a {
            width: 173px;
            height: 45px;
            font-size: 18px;
            line-height: 20px;
         }
      }
   }
}

@media screen and (max-width: 370px) {
   .slider_top {

      .text_prod {
         margin-left: 7px;
         margin-top: 55%;

         h1 {
            font-size: 20px;
         }

         h2 {
            font-size: 18px;
            line-height: 0px;
         }

         a {
            width: 112px;
            height: 32px;
            border-radius: 4px;
            border: 1px solid var(--Light-Colors-White---Light, $white-color);
            font-size: 10px;
            line-height: 12px;

            font-weight: 400;
         }

      }

      label {
         display: inline-block;
         width: 7px;
         height: 7px;
         border-radius: 50%;
         margin: 0 5px;
         cursor: pointer;
         background-color: $light-gray-color;
      }

      input[type='radio']:checked+label {
         border: 2px solid $white-color;
         background: none;
         width: 12px;
         height: 12px;
         opacity: 0.7;
      }
   }
}