button {
   cursor: pointer;
}

.account {
   position: relative;
   padding-top: 20px;
   max-width: 1248px;
   margin: 0 auto;
   &__container {
      max-width: 500px;
      margin: 0 auto;
   }
   .cart__window-account {
      z-index: 10;
      position: absolute;
      background: $light-gray-color;
      width: 100%;
      height: 56px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      display: none;
      padding: 5px clamp(0px,1vw,24px);
      margin-top: -126px;
      flex-wrap: wrap;
 
      transition: all 1s;
      p {
        display: flex;
        align-items: center;
        i {
          margin-right: 10px;
          font-size: 25px;
        }
      }
      & div {
         letter-spacing: 1.5px;
         color: $errors-color;
      }
      @media (max-width: 700.98px){
         width: 100%;
         align-items: center;
         margin-top: -136px;
      & p {
         font-size: 14px;
         @media (max-width: 548.98px){
              font-size: 12px;
         }
      }
      }
    }
  
   &__block-header {
      &:not(:last-child) {
         margin-bottom: 64px;
      }

      //mobile
      @media (max-width: 700.98px) {
         &:not(:last-child) {
            margin-bottom: 40px;
         }
      }

      //mobile small
      @media (max-width: 467.98px) {
         &:not(:last-child) {
            margin-bottom: 24px;
         }
      }
   }

   &__title {
      text-align: center;
   }

   .tabs {

      &__items {
         height: 60px;
         background-color: $light-gray-color;
         padding: 5px;
         display: flex;
         gap: 14px;
         justify-content: space-between;
         border-radius: 8px;

         &:not(:last-child) {
            margin-bottom: 126px;
         }

         //mobile
         @media (max-width: 700.98px) {
            height: 45px;
            padding: 3.5px;

            &:not(:last-child) {
               margin-bottom: 87px;
            }
         }

         //mobile small
         @media (max-width: 467.98px) {
            padding: 3px;
            height: 38px;

            &:not(:last-child) {
               margin-bottom: 92px;
            }
         }

         //mobile small
         @media (max-width: 340.98px) {
            padding: 2px;
            height: 32px;

            &:not(:last-child) {
               margin-bottom: 87px;
            }
         }
      }

      &__item {
         width: 236px;
         display: flex;
         justify-content: center;
         align-items: center;
         font-family: DM Sans;
         font-size: 20px;
         font-weight: 400;
         line-height: 26px;
         transition: all 0.3s ease-in-out;

         //mobile
         @media (max-width: 700.98px) {
            font-size: 16px;
         }

         //mobile small
         @media (max-width: 467.98px) {
            font-size: 14px;
         }

         //mobile small
         @media (max-width: 350.98px) {
            // width: 134px;
            font-size: 12px;
         }
      }

      &__block {
         transition: all 1s;
         opacity: 0;
      }
   }

   .block-tabs {
      &__buttons {
         display: flex;
         flex-direction: column;
      }

      &__button {
         @include black-btn;
         height: 53px;
       
         margin: 0 auto;
         transition: all 0.3s;
         &:not(:last-child) {
            margin-bottom: 16px;
         }

         //mobile
         @media (max-width: 700.98px) {
            height: 40px;
            font-size: 14px;
         }

         //mobile small
         @media (max-width: 467.98px) {
            height: 32px;
            font-size: 12px;
         }
      }

      &__forget {
         font-family: DM Sans;
         font-size: 16px;
         font-weight: 400;
         line-height: 27px;
         text-align: center;
         transition: color 0.3s;

         &:hover {
            color: $placeholder-color;
         }

         //mobile
         @media (max-width: 700.98px) {
            font-size: 14px;
            line-height: 23px;
         }

         //mobile small
         @media (max-width: 467.98px) {
            font-size: 12px;
            line-height: 20px;
         }
      }
   }

   .form {

      &__body {
         position: relative;

         &:not(:last-child) {
            margin-bottom: 46px;
         }
      }

      .body--last {

         //mobile
         @media (max-width: 700.98px) {
            &:not(:last-child) {
               margin-bottom: 30px;
            }
         }
      }

      &__input {
         border-bottom: 1px solid $gray-color;
         padding: 12px 0;
         width: 100%;

         &::placeholder {
            font-family: DM Sans;
            font-size: 16px;
            color: $placeholder-color;
            font-weight: 400;

            //Tablet
            @media (max-width: 700.98px) {
               font-size: 14px;
            }

            //Mobile small
            @media (max-width: 467.98px) {
               font-size: 12px;
            }
         }

         @media (max-width: 700.98px) {
            padding: 8px 0;
            font-size: 14px;
         }

         @media (max-width: 467.98px) {
            padding: 5px 0;
            font-size: 12px;
         }
      }

      &__button {
         position: absolute;
         width: 15px;
         height: 15px;
         right: 3px;
         bottom: 15px;
         display: none;

         & i {
            color: $gray-color;
            transition: color 0.3s;

            &:hover {
               color: $dark-gray-color;
            }
         }

         //Tablet
         @media (max-width: 700.98px) {
            font-size: 14px;
            bottom: 10px;

         }

         //Mobile small
         @media (max-width: 467.98px) {
            font-size: 12px;
            bottom: 5px;
         }
      }

      .button-repeat {
         position: absolute;
         width: 15px;
         height: 15px;
         right: 3px;
         top: 15px;
         display: none;

         & i {
            color: $gray-color;
            transition: color 0.3s;

            &:hover {
               color: $dark-gray-color;
            }
         }

         //Tablet
         @media (max-width: 700.98px) {
            font-size: 14px;
            top: 10px;

         }

         //Mobile small
         @media (max-width: 467.98px) {
            font-size: 12px;
            top: 7px;
         }
      }
   }

   .checkbox {
      margin-top: -40px;

      input[type='checkbox'] {
         height: 0;
         width: 0;
      }

      input[type='checkbox']+label {
         position: relative;
         display: flex;
         margin: .6em 0;
         align-items: center;
         color: $placeholder-color;
         transition: color 250ms cubic-bezier(.4, .0, .23, 1);
      }

      input[type='checkbox']+label>ins {
         position: absolute;
         display: block;
         bottom: 0;
         left: 2em;
         height: 0;
         width: 100%;
         overflow: hidden;
         text-decoration: none;
         transition: height $transition-time cubic-bezier(.4, .0, .23, 1);
      }

      input[type='checkbox']+label>ins>i {
         position: absolute;
         bottom: 0;
         font-style: normal;
         color: $placeholder-color;
      }

      input[type='checkbox']+label>span {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right: 1em;
         width: 1em;
         height: 1em;
         background: transparent;
         border: 2px solid $placeholder-color;
         border-radius: 2px;
         cursor: pointer;
         transition: all 250ms cubic-bezier(.4, .0, .23, 1);
      }

      input[type='checkbox']+label:hover,
      input[type='checkbox']:focus+label {
         color: $black-color;
      }

      input[type='checkbox']+label:hover>span,
      input[type='checkbox']:focus+label>span {
         background: $white-color;
      }

      input[type='checkbox']:checked+label>ins {
         height: 100%;
      }

      input[type='checkbox']:checked+label>span {
         border: .5em solid$placeholder-color;
         animation: shrink-bounce 200ms cubic-bezier(.4, .0, .23, 1);
      }

      input[type='checkbox']:checked+label>span:before {
         content: "";
         position: absolute;
         top: .42em;
         left: .15em;
         border-right: 3px solid transparent;
         border-bottom: 3px solid transparent;
         transform: rotate(45deg);
         transform-origin: 0% 100%;
         animation: checkbox-check 125ms 250ms cubic-bezier(.4, .0, .23, 1) forwards;
      }

      @keyframes shrink-bounce {
         0% {
            transform: scale(1);
         }

         33% {
            transform: scale(.85);
         }

         100% {
            transform: scale(1);
         }
      }

      @keyframes checkbox-check {
         0% {
            width: 0;
            height: 0;
            border-color: $white-color;
            transform: translate3d(0, 0, 0) rotate(45deg);
         }

         33% {
            width: .2em;
            height: 0;
            transform: translate3d(0, 0, 0) rotate(45deg);
         }

         100% {
            width: .2em;
            height: .5em;
            border-color: $white-color;
            transform: translate3d(0, -.5em, 0) rotate(45deg);
         }
      }

      &:not(:last-child) {
         margin-bottom: 69px;
      }

      //mobile
      @media (max-width: 700.98px) {
         &:not(:last-child) {
            margin-bottom: 30px;
            font-size: 14px;
         }
      }

      //mobile
      @media (max-width: 467.98px) {
         &:not(:last-child) {
            margin-bottom: 16px;
            font-size: 12px;
         }
      }
   }

   .block-tabs--register {
      display: none;

   }

   .custom-select {
      position: relative;
      display: inline-block;
      width: 100%;
      border: none;
      border-bottom: 1px solid $gray-color;
      font-family: DM Sans;
      font-size: 16px;
      color: $placeholder-color;
      font-weight: 400;
      line-height: 168.75%;

      &:not(:last-child) {
         margin-bottom: 34px;
      }
   }

   .select-header {
      padding: 12px 0;
      cursor: pointer;
      position: relative;
      height: 43.2px;
      display: flex;
      align-items: center;

      & img {
         position: absolute;
         width: 10px;
         height: 5.66px;
         right: 0;
         bottom: 21px;

         //mobile
         @media (max-width: 700.98px) {
            bottom: 15px;
         }

         //mobile small
         @media (max-width: 700.98px) {
            bottom: 9px;
         }
      }

      //mobile
      @media (max-width: 700.98px) {
         max-height: 33.6px;
         font-size: 14px;

      }

      //Mobile small
      @media (max-width: 467.98px) {
         max-height: 24.4px;
         font-size: 12px;
      }
   }

   .select-options {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      color: $black-color;
      cursor: pointer;
      font-weight: 400;
      border-bottom: 1px solid $light-gray-color;
      line-height: 1.57;
      text-align: left;
      background-color: $white-color;
      margin-top: 10px;
      z-index: 6;
   }

   .select-options li {
      height: 53px;
      font-size: 14px;
      border: 1px solid $light-gray-color;
      border-radius: 6px;
      padding: 12px 16px;
      transition: background-color 0.3s;
   }

   .select-options li:hover {
      background-color: $light-gray-color;
   }

   .select-options li:active {
      background: $white-color;
   }

   ._active {
      background-color: $white-color;
      border-radius: 8px;
   }

   .opac {
      opacity: 1;
   }

   .input-last {
      &:not(:last-child) {
        margin-bottom: 0;
      }
   }

   .togglePasswordBtn {
      position: absolute;
      width: 100px;
      height: 10px;
      right: 20px;
      top: 17px;
      font-size: 8px;
      border: none;
      color: $placeholder-color;
      transition: color 0.3s;
      display: none;
      background: none;
      //Tablet
      @media (max-width: 700.98px) {
         top: 11px;
      }

      //Mobile small
      @media (max-width: 467.98px) {
         top: 7px;
      }

      @media (any-hover: hover) {
         &:hover {
            color: $black-color;
         }
      }
   }

   //mobile
   @media (max-width: 700.98px) {
      padding-top: 30px;
      padding-bottom: 90px;
   }

   //mobile small
   @media (max-width: 467.98px) {
      padding-bottom: 92px;
   }

   .input-email {
      margin-top: 11px;
   }
   input[type="password"]::-ms-reveal,
   input[type="password"]::-ms-clear {
      display: none !important;
   }

   input[type="password"]::-webkit-credentials-auto-fill-button {
      display: none;
   }
   .buttons-register {
      margin-top: 80px;
   }
}


@media screen and (max-width: 400px) {
   .account {
      .cart__window-account {
         flex-direction: column;
         .window__link {
            font-size: 14px;
         }
      }
   }
}