.checkout__pages {
  max-width: 1248px;
  height: 100%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 250px;
}

.checkout__container {
  display: flex;
  gap: 80px;
  @include sub_title_text;

  h2 {
    margin-bottom: 30px;
    @media (max-width: 400px){
      margin-bottom: 20px;
    }
  }

  // Block left
  .checkout__block-name {
    width: 50%;

    .checkout__name-info {
      display: flex;
      flex-direction: column;
      padding: 10px;

      input {
        background-color: transparent;
        max-width: 580px;
        width: 100%;
        border-bottom: 1px solid $gray-color;
        @include sub_title_text;
        padding: 6px 0px;
        margin-bottom: 39px;
        @media (max-width: 450px){
          margin-bottom: 25px;
        }
      }

      .order__form-info {
        position: relative;

        label {
          opacity: 0;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 10px;
          color: $errors-color;
          font-family: 'DM Sans';
          font-size: 13px;
          font-weight: 400;
          line-height: 10px;
        }
      }

      .checkout__name {
        display: flex;
        gap: 40px;

        .order__form-info {
          width: 100%;

          input {
            max-width: 270px;
            width: 100%;
          }
        }
      }
      .input__order-notes{
        margin-bottom: 39px;
      }

      .checkout__checkbox-create {
        div {
          min-width: 228px;
          margin-bottom: 37px;

          &:not(:last-child) {
            margin-bottom: 0px;
          }

          input {
            margin: 0;
          }

          input[type='checkbox']:checked+label>span:before {
            top: 40%;
            left: 0.15em;
          } 
          label {
            color: var(--black-color);
          }
        }
      }

      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type='number'] {
        -moz-appearance: textfield;
      }
    }
  }

  // Block right
  .checkout__block-order {
    width: 50%;
    h2{
      margin-bottom: 37px;
    }

    .checkout__order-info {
      // background-color: $light-gray-color;
      padding: 37px 59px;

      .block__order {
        &:first-child > div {
          border-bottom: 1px solid $gray-color;
          padding-bottom: 14px;
        }

        div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 25px;
        }

        .block__order-item {
          color: $placeholder-color;
          flex-direction: column;

          div {
            display: grid;
            grid-template-columns: 1.5fr 1fr 1fr;

            p {
              &:nth-child(2) {
                text-align: center;
              }

              &:nth-child(3) {
                text-align: right;
              }
            }
          }
        }

        .order__subtotal {
          color: $placeholder-color;
        }
        .order__shipping {
          color: $placeholder-color;
        }

        .order__block-total {
          font-weight: 700;
          line-height: 20px;
          margin-bottom: 60px;
        }
      }

      .checkout__checkbox-payment {
        margin-bottom: 45px;

        .radio__block {
          margin-bottom: 18px;
          color: var(--black-color);
          input[type='radio'] {
            position: absolute;
            opacity: 0;

            + .radio__label {
              cursor: pointer;

              &:before {
                content: '';
                border-radius: 100%;
                border: 2px solid var(--black-color);
                display: inline-block;
                width: 16px;
                height: 16px;
                position: relative;
                top: 3px;
                margin-right: 8px;
                vertical-align: top;
                text-align: center;
                transition: all 250ms ease;
              }
            }

            &:checked {
              + .radio__label {
                &:before {
                  background-color: var(--black-color);
                  box-shadow: inset 0 0 0 4px $light-gray-color;
                }
              }
            }

            &:focus {
              + .radio__label {
                &:before {
                  outline: none;
                  border-color: var(--black-color);
                }
              }
            }

            + .radio__label {
              &:empty {
                &:before {
                  margin-right: 0;
                }
              }
            }
          }

          .label__paypal {
            position: relative;

            &::after {
              content: '';
              background-image: url('../../../assets/img/svg/paypal.svg');
              background-size: cover;
              display: block;
              width: 13px;
              height: 16px;
              position: absolute;
              top: 0px;
              right: -18px;
            }
          }

          .nuances__payment {
            display: none;
            font-size: 12px;
            line-height: 20px;
            color: $placeholder-color;
            margin: 20px 0;
          }

          .nuances__1 {
            display: block;
          }
        }
      }

      .btn__place-order {
        @include black-btn;
        padding: 15px 0px;
       
        &:hover {
          border: 1px solid var(--black-color);
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .checkout__container{
    flex-wrap: wrap;
    .checkout__block-name {
      width: 100%;
      .checkout__name-info, 
      .checkout__name-info .checkout__name{
        .order__form-info input, .input__order-notes{
          max-width: 100%;
          width: 100%;
        }
      }
    }
    .checkout__block-order{
      width: 100%;
    }
  }
}

@media screen and (max-width: 700px) {
  .checkout__container {
    .checkout__block-name {
      .checkout__name {
        display: flex;
        flex-direction: column;
        gap: 0px !important;
        .order__form-info {
          input {
            max-width: 100% !important;
          }
        }
      }
    }
  }
}


