.checkout__pages {
  max-width: 1248px;
  height: 100%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 250px;
}

.checkout__container {
  display: flex;
  gap: 80px;
  @include sub_title_text;

  h2 {
    margin-bottom: 39px;
  }

  // Block left
  .checkout__block-name {
    width: 50%;

    .checkout__name-info {
      display: flex;
      flex-direction: column;
      padding: 10px;

      input {
        max-width: 580px;
        border-bottom: 1px solid $gray-color;
        @include sub_title_text;
        padding: 6px 0px;
        margin-bottom: 25px;
      }

      .order__form-info {
        position: relative;

        label {
          opacity: 1;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 10px;
          color: $errors-color;
          font-family: 'DM Sans';
          font-size: 13px;
          font-weight: 400;
          line-height: 10px;
        }
      }

      .checkout__name {
        display: flex;
        gap: 40px;

        input {
          max-width: 270px;
          width: 100%;
        }
      }

      .checkout__checkbox-create {
        div {
          min-width: 228px;
          margin-bottom: 25px;

          &:not(:last-child) {
            margin-bottom: 0px;
          }

          input {
            margin: 0;
          }

          input[type='checkbox'] {
            height: 0;
            width: 0;
          }

          input[type='checkbox'] + label {
            position: relative;
            display: flex;
            align-items: center;
            color: $placeholder-color;
            transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
          }
          input[type='checkbox'] + label > ins {
            position: absolute;
            display: block;
            bottom: 0;
            left: 2em;
            height: 0;
            width: 100%;
            overflow: hidden;
            text-decoration: none;
            transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1);
          }
          input[type='checkbox'] + label > ins > i {
            position: absolute;
            bottom: 0;
            font-style: normal;
            color: $placeholder-color;
          }
          input[type='checkbox'] + label > span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1em;
            width: 1em;
            height: 1em;
            background: transparent;
            border: 2px solid $placeholder-color;
            border-radius: 2px;
            cursor: pointer;
            transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
          }

          input[type='checkbox'] + label:hover,
          input[type='checkbox']:focus + label {
            color: $black-color;
          }
          input[type='checkbox'] + label:hover > span,
          input[type='checkbox']:focus + label > span {
            background: $white-color;
          }
          input[type='checkbox']:checked + label > ins {
            height: 100%;
          }

          input[type='checkbox']:checked + label > span {
            border: 0.5em solid $placeholder-color;
            animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
          }
          input[type='checkbox']:checked + label > span:before {
            content: '';
            position: absolute;
            top: 10px;
            left: 0.15em;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            transform: rotate(45deg);
            transform-origin: 0% 100%;
            animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1)
              forwards;
          }

          @keyframes shrink-bounce {
            0% {
              transform: scale(1);
            }
            33% {
              transform: scale(0.85);
            }
            100% {
              transform: scale(1);
            }
          }
          @keyframes checkbox-check {
            0% {
              width: 0;
              height: 0;
              border-color: $white-color;
              transform: translate3d(0, 0, 0) rotate(45deg);
            }
            33% {
              width: 0.2em;
              height: 0;
              transform: translate3d(0, 0, 0) rotate(45deg);
            }
            100% {
              width: 0.2em;
              height: 0.5em;
              border-color: $white-color;
              transform: translate3d(0, -0.5em, 0) rotate(45deg);
            }
          }
        }
      }

      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type='number'] {
        -moz-appearance: textfield;
      }
    }
  }

  // Block right
  .checkout__block-order {
    width: 50%;

    .checkout__order-info {
      background-color: #efefef;
      padding: 37px 59px;

      .block__order {
        &:first-child > div {
          border-bottom: 1px solid $gray-color;
          padding-bottom: 10px;
        }

        div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 25px;
        }

        .block__order-item {
          color: $placeholder-color;
          flex-direction: column;

          div {
            display: grid;
            grid-template-columns: 1.5fr 1fr 1fr;

            p {
              &:nth-child(2) {
                text-align: center;
              }

              &:nth-child(3) {
                text-align: right;
              }
            }
          }
        }

        .order__subtotal {
          color: $placeholder-color;
        }
        .order__shipping {
          color: $placeholder-color;
        }

        .order__block-total {
          font-weight: 700;
          line-height: 20px;
        }
      }

      .checkout__checkbox-payment {
        margin-bottom: 45px;

        .radio__block {
          margin-bottom: 18px;

          input[type='radio'] {
            position: absolute;
            opacity: 0;

            + .radio__label {
              cursor: pointer;

              &:before {
                content: '';
                border-radius: 100%;
                border: 2px solid darken($black-color, 25%);
                display: inline-block;
                width: 16px;
                height: 16px;
                position: relative;
                top: 3px;
                margin-right: 8px;
                vertical-align: top;
                text-align: center;
                transition: all 250ms ease;
              }
            }

            &:checked {
              + .radio__label {
                &:before {
                  background-color: $black-color;
                  box-shadow: inset 0 0 0 4px #f4f4f4;
                }
              }
            }

            &:focus {
              + .radio__label {
                &:before {
                  outline: none;
                  border-color: $black-color;
                }
              }
            }

            + .radio__label {
              &:empty {
                &:before {
                  margin-right: 0;
                }
              }
            }
          }

          .label__paypal {
            position: relative;

            &::after {
              content: '';
              background-image: url('../../../assets/img/svg/paypal.svg');
              background-size: cover;
              display: block;
              width: 13px;
              height: 16px;
              position: absolute;
              top: 0px;
              right: -18px;
            }
          }

          .nuances__payment {
            display: none;
            font-size: 12px;
            line-height: 20px;
            color: $placeholder-color;
            margin: 20px 0;
          }

          .nuances__1 {
            display: block;
          }
        }
      }

      .btn__place-order {
        transition: 0.2s all linear;
        background-color: $black-color;
        border: 1px solid $black-color;
        color: $white-color;
        border-radius: 4px;
        width: 100%;
        padding: 15px 0px;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 700;
        &:hover {
          transition: 0.2s all linear;
          background-color: $white-color;
          border: 1px solid $black-color;
          color: $black-color;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .checkout__container {
    flex-wrap: wrap;

    .checkout__block-name {
      width: 100%;

      input {
        width: 100%;
        margin-bottom: 40px;
      }

      .checkout__name {
        display: flex;
        flex-direction: column;
      }
    }

    .checkout__block-order {
      width: 100%;
    }
  }
}
