.checkout__pages {
  max-width: 1248px;
  height: 100%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 250px;

  h1 {
    text-align: center;
    margin-bottom: 60px;
  }

  .checkout__container{
    display: flex;
    gap: 80px;

    .checkout__block-name {
      border: 1px solid red;
      display: flex;
      flex-direction: column;
      width: 30%;
      padding: 10px;

      input {
        max-width: 580px;
        border-bottom: 1px solid $gray-color;
        @include sub_title_text;
        padding: 6px 0px;
        margin-bottom: 25px;
      }

      .checkout__name {
        display: flex;
        gap: 40px;

        input {
          max-width: 270px;
          width: 100%;
        }

      }

      .checkout__checkbox-create {

        div {
          max-width: fit-content;
          margin-bottom: 25px;
          
          &:not(:last-child) {
            margin-bottom: 0px;
         }

          input {
            margin: 0;
          }

          input[type='checkbox']{ height: 0; width: 0; }
    
          input[type='checkbox'] + label{
            position: relative;
            display: flex;
            align-items: center;
            color: #707070;
            transition: color 250ms cubic-bezier(.4,.0,.23,1);
          }
          input[type='checkbox'] + label > ins{
            position: absolute;
            display: block;
            bottom: 0;
            left: 2em;
            height: 0;
            width: 100%;
            overflow: hidden;
            text-decoration: none;
            transition: height 300ms cubic-bezier(.4,.0,.23,1);
          }
          input[type='checkbox'] + label > ins > i{
            position: absolute;
            bottom: 0;
            font-style: normal;
            color:#707070;
          }
          input[type='checkbox'] + label > span{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1em;
            width: 1em;
            height: 1em;
            background: transparent;
            border: 2px solid #707070;
            border-radius: 2px;
            cursor: pointer;  
            transition: all 250ms cubic-bezier(.4,.0,.23,1);
          }
          
          input[type='checkbox'] + label:hover, input[type='checkbox']:focus + label{
            color: #000000;
          }
          input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span{
            background: #fff;
          }
          input[type='checkbox']:checked + label > ins{ height: 100%; }
          
          input[type='checkbox']:checked + label > span{
            border: .5em solid#707070;
            animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
          }
          input[type='checkbox']:checked + label > span:before{
            content: "";
            position: absolute;
            top: .4em;
            left: .150em;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            transform: rotate(45deg);
            transform-origin: 0% 100%;
            animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
          }
          
          @keyframes shrink-bounce{
            0%{
              transform: scale(1);
            }
            33%{    
              transform: scale(.85);
            }
            100%{
              transform: scale(1);    
            }
          }
          @keyframes checkbox-check{
            0%{
              width: 0;
              height: 0;
              border-color: #fff;
              transform: translate3d(0,0,0) rotate(45deg);
            }
            33%{
              width: .2em;
              height: 0;
              transform: translate3d(0,0,0) rotate(45deg);
            }
            100%{    
              width: .2em;
              height: .5em;    
              border-color: #fff;
              transform: translate3d(0,-.5em,0) rotate(45deg);
            }
          }
       }
      }

    }






    .checkout__block-order {
      background-color: #EFEFEF;
      border: 1px solid yellow;
      width: 50%;
      padding: 37px 59px;
    }
  }
  
  

}
