// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black

/**
Example:
@include font-face('Roboto', '../fonts/RobotoRegular', null, null, woff2 woff);
@include font-face('Roboto', '../fonts/RobotoBold', 700, null, woff2 woff);
**/

// @include font-face('Angeline', '../fonts/Angeline', null, null, woff2 woff);

@font-face {
    font-family: 'Angeline';
    src: url(../fonts/AngelineVintage.woff) format('woff'),
     url(../fonts/AngelineVintage.woff2) format('woff2');
}


