
.contact {
   @media (max-width: 700.98px){
      padding-top: 135px; 
   }
		&__container {
         max-width: 908px;
margin: 0 auto;
@media (max-width: 852.98px){
     max-width: 500px;
}
		}

		&__block-header {
         text-align: center;
         &:not(:last-child) {
            margin-bottom: 108px;
         }
         @media (max-width: 499.98px){
              text-align: left;
              &:not(:last-child) {
               margin-bottom: 62px;
            }
         }
		}

		&__title {
         font-size: 33px;
         line-height: 130.30303%; /* 43/33 */
         &:not(:last-child) {
            margin-bottom: 35px;
         }
         @media (max-width: 499.98px){
            font-size: 20px;
         }
		}

		&__text {
font-family: DM Sans;
font-size: 20px;
font-weight: 400;
line-height: 130%; /* 26/20 */
text-align: center;
max-width: 561px;
margin: 0 auto;
		}

		&__form {
         display: flex;
         flex-direction: column;
         padding-bottom: 154px;
		}

		&__button {
         background-color: $black-color;
         border: 1px solid $black-color;
         width: 100%;
         height: 53px;
         border-radius: 4px;
         display: flex;
         justify-content:center;
         align-items: center;
         color: $white-color;
         margin: 0 auto;
         transition: all 0.3s;
         overflow: hidden;
         &:hover {
         background-color: $white-color;
         color: $black-color;
           cursor: pointer;
         }
		}
      &__input {
         &::placeholder {
            font-family: DM Sans;
            font-size: 16px;
            color: $placeholder-color;
            font-weight: 400;
         //Tablet
          @media (max-width: 852.98px){
                    font-size: 14px;
            }
        //Mobile small
         @media (max-width: 467.98px){
                   font-size: 12px;
         }  
         }
         font-family: DM Sans;
         font-size: 16px;
         color: $placeholder-color;
         font-weight: 400;
         &:not(:last-child) {
            margin-bottom: 96px;
         }
         border-bottom: 1px solid $gray-color;
         padding: 0 0 44px 0;
            //Mobile
            @media (max-width: 852.98px){
               padding: 0 0 65px 0;
               width: 100%;
               margin: 0 auto;
               font-size: 14px;
               &:not(:last-child) {
                  margin-bottom: 40px;
               }
          }
          @media (max-width: 467.98px){
            font-size: 12px;
            &:not(:last-child) {
               margin-bottom: 24px;
            }
       }
      }
      .form {

         &__columns {
            display: flex;
            flex-direction: column;
            gap: 94px;
            &:not(:last-child) {
               margin-bottom: 126px;
            }
             //Tablet
          @media (max-width: 852.98px){
            gap: 47px;
            &:not(:last-child) {
               margin-bottom: 100px;
            }
       }
          //Mobile
          @media (max-width: 700.98px){
            &:not(:last-child) {
               margin-bottom: 47px;
            }
       }
         }
         
   }
   .columns-form {
		&__column {
         display: flex;
         justify-content: space-between;
         column-gap: 29px;
         flex-wrap: wrap;
         position: relative;
          //Tablet
 @media (max-width: 852.98px){
   justify-content: center;
   row-gap: 47px;
   }
		}
      &__body {
         position: relative;
         @media (max-width: 852.98px){
         width: 100%;
         }
      }
      
         &__button {
            position: absolute;
            width: 15px;
            height: 15px;
            right: 3px;
            bottom: 18px;
            display: none;
            & i {
               color: $gray-color;
               transition: color 0.3s;
               &:hover {
                  color: $dark-gray-color;
               }
            }
                //Tablet
                @media (max-width: 700.98px){
                  font-size: 14px;
                   bottom: 12px;

              }
             //Mobile small
             @media (max-width: 467.98px){
               font-size: 12px;
               bottom: 7px;
           } 
            }
           &__button-email {
            position: absolute;
            width: 15px;
            height: 15px;
            right: 3px;
            top: 15px;
              //Tablet
              @media (max-width: 700.98px){
               font-size: 14px;
                top: 12px;

           }
          //Mobile small
          @media (max-width: 467.98px){
            font-size: 12px;
            top: 9px;
        } 
           }
         
		&__input {
         border-bottom: 1px solid $gray-color;
         padding: 12px 0;
         font-size: 16px;
         line-height: 168.75%;
         &::placeholder {
            font-family: DM Sans;
            font-size: 16px;
            color: $placeholder-color;
            font-weight: 400;
            line-height: 168.75%;
              //Tablet
         @media (max-width: 852.98px){
            font-size: 14px;
            }
                 //Mobile small
       @media (max-width: 467.98px){
         font-size: 12px;
     }  
         }
         //Tablet
         @media (min-width: 852.98px){
         width: 396px;
         }
         //Tablet
         @media (max-width: 852.98px){
            width: 100%;
            font-size: 14px;
            }
            //Mobile
            @media (max-width: 700.98px){
               padding: 8px 0;
                 font-size: 14px; 
            }
            //Mobile small
            @media (max-width: 467.98px){
               padding: 5px 0;
                 font-size: 12px; 
            }  
		}

		.custom-select {
         position: relative;
         display: inline-block;
         max-width: 396px;
         width: 100%;
         border: none;
         border-bottom: 1px solid $gray-color;
         font-family: DM Sans;
         font-size: 16px;
         color: $placeholder-color;
         font-weight: 400;
         line-height: 168.75%;
        
          //Tablet
          @media (max-width: 852.98px){
           max-width: 500px;
           margin: 0 auto;
       }
       
       }
       
       .select-header {
         padding: 10px 0;
         cursor: pointer;
         line-height: 168.75%;
         position: relative;
         & img {
            position: absolute;
            width: 10px;
            height: 5.66px;
            right: 0;
         bottom: 19px;
            
         }
              //Tablet
              @media (max-width: 852.98px){
               font-size: 14px;
           }
          //Mobile small
          @media (max-width: 467.98px){
            font-size: 12px;
        }  
       }
       
       .select-options {
         display: none;
         position: absolute;
         top: 100%;
         left: 0;
         width: 100%;
         color: $black-color;
         cursor: pointer;
         font-weight: 400;
         border-bottom: 1px solid $light-gray-color;
         line-height: 1.57;
         text-align: left;
         background-color: $white-color;
         margin-top: 10px;
       }
       
       .select-options li {
         height: 53px;
         font-size: 14px;
         border: 1px solid $light-gray-color;
         border-radius: 6px;
         padding: 12px 16px;
         transition: background-color 0.3s;
       }
       
       .select-options li:hover {
         background-color: $light-gray-color;
       }
       .select-options li:active {
         background: $white-color;
       }
      .error-message {
         position: absolute;
         width: 100%;
         left: 0;
         bottom: -20px;
         color: $errors-color;
         font-family: "DM Sans";
      font-size: 10px;
      font-weight: 400;
      line-height: 10px;
      }
}
}




