.Product {
  max-width: 1248px;
  height: 100%;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 5px;

  // Відштовхуйтесь лише в середині блоку (padding: ;)
  .a {
    width: 100%;
    height: 752px;
    padding: 10px;

    border: 1px solid black;
    .product--overview {
      display: flex;
      font-family: DM Sans;

      .product--overview__pictures {
        width: 700px;
        display: grid;
        grid-template-columns: 120px;
        gap: 40px;
        position: relative;

        img {
          width: 120px;
          height: 120px;
          cursor: pointer;
        }

        .picture-big {
          width: 540px;
          height: 600px;

          grid-column-start: 2;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 5;
        }

        .progress-bar {
          width: 540px;
          height: 2px;
          background-color: #d8d8d8;
          position: absolute;
          left: 160px;
          bottom: -20px;

          .progress-bar__line {
            background-color: $dark-gray-color;
            height: 2px;
            width: 0%;
          }
        }
      }
      .product--overview__view {
        width: 700px;
        height: 600px;
        margin-left: 62px;

        h3 {
          padding-bottom: 26px;
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: 35px;
        }
        .price {
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px;
          text-transform: capitalize;
          color: $accent-color;
        }
        p {
          margin-top: 110px;
          margin-bottom: 43px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          color: $dark-gray-color;
        }

        .btn--row {
          display: flex;
          margin-bottom: 80px;
          color: $dark-gray-color;
          .change--amount {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 102px;
            height: 53px;
            background-color: $gray-color;
            button {
              border: none;
              padding: 18px 18px;
              background-color: $gray-color;
              color: $dark-gray-color;
              cursor: pointer;
            }
          }
          .add-to-cart {
            margin-left: 23px;
            button {
              padding: 16px 100px;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              cursor: pointer;
              border: 1px solid black;
              border-radius: 5px;

              &:hover {
                background-color: black;
                color: white;
                transition: 0.4s linear;
              }

              // Selected class for button
              .selected {
                background-color: black;
                color: white;
              }
            }
          }
        }

        .icons--row {
          width: 240px;
          margin-bottom: 52px;
          display: flex;
          .product__heart {
            width: 20px;
            height: 20px;
            margin-right: 40px;
          }
          .messengers {
            width: 170px;
            height: 20px;
            border-left: 1px solid $dark-gray-color;
            li {
              display: inline-block;

              padding: 0 10px;
              color: $dark-gray-color;

              &:first-child {
                margin-left: 20px;
              }

              &:hover {
                color: black;
                transition: 0.3s linear;
              }
            }
          }
        }

        .misc {
          p {
            margin: 0;
            font {
              margin-right: 16px;
            }
          }
        }
      }
    }
  }

  .b {
    width: 100%;
    // В тебе там висота міняється
    height: 348px;
    background-color: rgb(143, 96, 136);
    border: 1px solid black;
  }

  .c {
    .similar__title {
      margin: 0 0 47px 0;
      font-family: DM Sans;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 35px;
    }

    .shop-latest-blocks {
      display: flex;
      gap: 54px;
      font-family: DM Sans;

      .shop-latest__block {
        .shop-latest__img {
          position: relative;

          img {
            width: 100%;
            height: auto;
            border-radius: 10px;
          }

          .shop-latest_hover {
            opacity: 0;
            background-color: rgba(255, 255, 255, 0.5);
            min-height: 48px;
            min-width: 100%;
            position: absolute;
            bottom: 4px;
            padding: 0 30px 0 30px;
            transition: all 0.4s ease;

            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          &:hover .shop-latest_hover {
            opacity: 1;
          }

          .shop-latest__heart {
            width: 1.5em;
            cursor: pointer;
          }
        }

        .shop-latest_hover_container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-height: 70px;
          min-width: 100%;
          transition: all 0.3s ease;

          p {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
          }

          a {
            border: none;
          }
        }

        .shop-latest__name {
          margin: 24px 0 16px 0;

          font-size: 20px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0em;
          color: #000;
        }

        .shop-latest__price {
          font-size: 20px;
          font-weight: 500;
          line-height: 26px;
          letter-spacing: 0em;

          color: $accent-color;
        }
      }
    }
  }
}
