.my-account {
   max-width: 1240px;
   margin: 0 auto;
   padding-bottom: 200px;
   font-family: DM Sans;
   font-weight: 400;
   line-height: 26px;
   color: $black-color;

   h1 {
      color: $black-color;
      font-size: 33px;
      font-weight: 500;
      line-height: 43px;
      text-align: center;
      padding-bottom: 65px;
   }

   p {
      font-size: 16px;
      line-height: 27px;
   }

   nav {
      ul {
         display: flex;
         justify-content: start;

         li {
            font-size: 20px;
            line-height: 26px;
            color: $placeholder-color;
            padding-right: 50px;
            padding-bottom: 35px;

            .act {
               color: $black-color;
               position: relative;

               &::after {
                  z-index: -5;
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 30px;
                  bottom: -2px;

                  margin-left: auto;
                  margin-right: auto;
                  left: 0;
                  right: 0;
                  text-align: center;
                  text-align: center;

                  top: 32px;
                  border-radius: 1px;
                  border-bottom: 2px solid #000;
                  border-width: 2px 0px;
               }
            }
         }
      }

      .header__underline {
         display: block;
         margin-bottom: 40px;
      }
   }

   .myAccount__tabPage> :not(:nth-child(1)) {
      display: none;
   }

   .do-sth {
      color: $accent-color;
      cursor: pointer;
   }

   .targetOf-dashboard {
      display: flex;
      flex-direction: column;

      p {
         padding-bottom: 20px;
      }
   }

   .btn__black {
      transition: .2s all linear;
      background-color: $black-color;
      border: 1px solid $black-color;
      border-radius: 5px;
      padding: 16px 175px;
      display: flex;
      justify-self: center;
      align-items: center;

      span {
         color: $white-color;
         font-weight: 700;
      }

      &:hover {
         transition: .2s all linear;
         background-color: $white-color;

         span {
            transition: .2s all linear;
            color: $black-color;
         }
      }
   }

   .alert-not-ofer,
   .alert-not-address {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 20px 40px;
      border-top: 2px solid $accent-color;
      background-color: rgba(161, 138, 104, 0.1);

      .do-sth {
         font-weight: 700;
      }
   }

   .targetOf-orders,
   .targetOf-downloads {
      display: flex;
      flex-direction: column;

      table {
         border-collapse: collapse;
         width: 100%;

         td {
            width: 20%;
            padding: 15px 0px;
         }

         thead {
            border-bottom: 1px solid $black-color;
         }

         tbody {
            tr {
               border-bottom: 1px solid $gray-color;

               td {
                  padding: 25px 0px;
                  color: $placeholder-color;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 27px;
               }
            }
         }
      }
      .mobile-account__order{
         display: none;
         table{
           margin: 39px 0 0 0;
            
            tbody{
              
               tr{
                  border: none;
                  
                  td{
                     padding: 12px 0;
                     font-family: DM Sans;
                     font-size: 16px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 20px;
                     color: #000;
                     &:last-child{
                        color: #707070;
                        text-align: right;
                     }
                     .do-sth{
                        font-weight: 400;
                     }
                  }

                 &:last-child{
                  border-bottom: 1px solid $gray-color;
                  td{
                    padding: 12px 0 39px 0;
                  }
                 
                 
                 }
               }
            }
           
         }

      }

      .do-sth {
         font-weight: 700;
      }
   }

   .targetOf-addresses {
      display: flex;
      flex-direction: column;

      p {
         padding-bottom: 45px;
      }

      .my-address {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-gap: 75px;

         h3 {
            font-size: 20px;
            padding-bottom: 25px;
         }

         .do-sth {
            display: inline-block;
            font-weight: 700;
            padding-bottom: 15px;
         }

         .you-not-have-address {
            font-size: 14px;
            line-height: 22px
         }

         .none {
            display: none;

            &+.you-not-have-address {
               display: none;
            }
         }

         .bill-registr {
            display: none;

            form {
               input {
                  display: block;
                  border-bottom: 1px solid $gray-color;
                  padding: 12px 0;
                  width: 100%;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 22px;
                  color: $placeholder-color;
                  margin-bottom: 40px;

                  &::placeholder {
                     font-size: 15px;
                     font-weight: 400;
                     line-height: 22px;
                     color: $placeholder-color;
                     margin-bottom: 40px;
                  }
               }

               .bill-user-name {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  grid-gap: 40px;
               }

               .selectYourItem {
                  position: relative;
                  margin-top: 25px;
                  border-bottom: 1px solid $gray-color;
                  font-family: DM Sans;
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 20px;
                  color: $placeholder-color;
                  text-transform: uppercase;
                  display: block;
                  width: 100%;
                  padding-bottom: 12px;
                  margin-bottom: 25px;
                  cursor: pointer;

                  p {
                     text-transform: none;
                     display: inline-block;
                     margin-bottom: 0px;
                     padding-bottom: 0px;
                  }

                  input {
                     display: none;
                  }

                  label {
                     transform: rotate(180deg);
                     display: inline-block;
                     position: relative;
                     bottom: -11px;
                  }

                  .optionItem {
                     display: none;
                     position: absolute;
                     width: 100%;
                     background-color: $white-color;
                     z-index: 2;
                     border: 1px solid $gray-color;
                     border-radius: 5px;
                     height: 100px;
                     overflow-y: scroll;

                     &::-webkit-scrollbar {
                        width: 10px;
                     }

                     &::-webkit-scrollbar-track {
                        background-color: #f5f5f5;
                     }

                     &::-webkit-scrollbar-thumb {
                        background-color: $placeholder-color;
                        border-radius: 20px;
                        border: 3px solid #f5f5f5;
                     }

                     li {
                        color: $black-color;
                        display: block;
                        background-color: $white-color;
                        padding: 5px;
                        width: 100%;
                        border-bottom: 1px solid $gray-color;

                        &:nth-last-child(1) {
                           border-bottom: none;
                        }
                     }
                  }

                  label {
                     cursor: pointer;
                     display: inline-block;
                     float: right;
                     margin-top: auto;
                     margin-left: auto;
                     transition: 0.2s all linear;

                     &::after {
                        transition: 0.2s all linear;
                        content: url(../img/MyAccount_img/arrow_up.svg);

                     }
                  }
               }

               .selectYourCountry {
                  #selectYourCountry:checked~label {
                     transition: 0.2s all linear;
                     transform: rotate(0deg);
                     position: relative;
                     top: 8px;
                  }

                  #selectYourCountry {
                     transition: 0.2s all linear;
                     display: none;
                  }

                  #selectYourCountry:checked~.optionCountry {
                     display: block;
                  }
               }
            }

            .btn__black {
               padding: 16px 45px;
            }
         }
      }
   }

   .targetOf-accountDetails {
      display: flex;
      flex-direction: column;
      align-items: center;

      form {
         input {
            display: block;
            border-bottom: 1px solid $gray-color;
            padding: 12px 0;
            width: 100%;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: $placeholder-color;
            margin-bottom: 40px;

            &::placeholder {
               font-size: 15px;
               font-weight: 400;
               line-height: 22px;
               color: $placeholder-color;
               margin-bottom: 40px;
            }
         }

         h3 {
            font-weight: 700;
            margin-bottom: 40px;
            margin-top: 50px;
         }

         p {
            margin-top: -35px;
            margin-bottom: 40px;
            font-size: 12px;
            color: $placeholder-color;
         }
      }
   }
}

@media (max-width: 910px){
   .my-account{
      .myAccount__navigation{
         ul{
            li{
               a{
                  font-size: 16px;
                  &::after{
                     height: 28px;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 780px){
      .my-account{
         .myAccount__tabPage{
            .targetOf-addBill{
               .my-address{
                  grid-template-columns: none;
                  grid-gap: 5px; 
               }
            }
            .account__order{
               display: none;
            }
            .mobile-account__order{
               display: block;
            }
         }
      }
}

@media (max-width: 650px){
   .my-account{
      padding: 0 0 26px 0;
      
      .targetOf-dashboard{
         font-size: 20px;
         padding: 0 0 24px 0;
      }
      .myAccount__navigation{
         ul{
            li{
               a{
                  font-size: 16px;
               }
            }
         }
      }
      .myAccount__tabPage{
         .targetOf-dashboard{
            p, span{
               font-size: 12px;
            }
            
         }
         .targetOf-orders{
            .alert-not-ofer{
               padding: 10px 0 10px 16px;
               flex-direction: column;
               gap: 8px;
               p{
                  font-size: 12px;
                  a{
                     font-weight: 400;    
                  }
               }
            }
         }
         .targetOf-orders, .targetOf-downloads {
            .alert-not-address{
               padding: 10px 0 10px 16px;
               flex-direction: column;
               gap: 8px;
               p{
                  font-size: 12px;
                  a{
                     font-weight: 400;    
                  }
               }
            }
            .mobile-account__order{
               table{
                  tbody{
                     tr{
                        td{
                           font-size: 12px;
                        }
                     }
                  }
               }
            }
         }

         .targetOf-addBill, .targetOf-addresses{
            p{
               font-size: 12px;
               padding: 0 0 23px 0;
            }
            .my-address{
               
               .add-my-bill, .add-my-adress{
                  h3{
                     font-size: 16px;
                     padding-bottom: 18px;
                  }
                  .do-sth{
                     font-size: 16px;
                     padding-bottom: 16px;
                  }
                  .you-not-have-address{
                     font-size: 12px;
                     color: #707070;
                  }

                  .bill-registr{
                    margin: 0 0 48px 0;
                     form{
                        input{
                           padding: 5px 0;
                           margin-bottom: 18px;
                           &:last-child{
                              margin-bottom: 39px;
                           }
                        }
                        input::placeholder{
                           font-size: 12px; 
                        }
                       
                        .selectYourItem{
                           padding-bottom: 2px;
                           margin-bottom: 23px;
                           label{
                              margin: -3px 0 0px 0;
                           }
                        }
                     }
                     button{
                        width: 100%;
                        padding: 6px 0;
                        display: flex;
                        justify-content: center;
                       
                        span{
                           font-size: 12px;
                           font-style: normal;
                           font-weight: 400;
                           line-height: 20px;
                        }
                       
                     }
                  }

                  .bill-user-name{
                     display: block;
                     .bill-user-name_del{
                        display: none;
                     }      
                  }
                  
                  
               }
            }
            
         }

      }
      .targetOf-accountDetails{
         h1{
            display: none;
         }
         form{
            input{
               padding: 5px 0;
               margin-bottom: 48px;
               &:last-child{
                  margin-bottom: 39px;
               }
            }
            input::placeholder{
               font-size: 12px; 
            }
            h3{
               font-size: 16px;
            }
         }
        
      }
   }
}

@media(max-width: 500px){
   .my-account{
      .targetOf-accountDetails{
         button{
            display: flex;
            justify-content: center;
            padding: 6px 0;
            width: 100%;
            span{
               font-family: DM Sans;
               font-size: 12px;
               font-style: normal;
               font-weight: 400;
               line-height: 20px;
            }
         }
      }
   }
}
