$font-size-text: 16px;
$font-weight: regular;
$line-height: 1.68;

footer {
   margin-top: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   .big-container {
      margin-bottom: 100px;

      width: 1248px;
      height: 159px;

      border-top: 1px solid #d8d8d8;

      display: flex;
      justify-content: space-between;
      padding-top: 55px;

      .info-list {
         padding-bottom: 50px;
         padding-top: 18px;

         .info-item {
            display: inline-block;

            font-family: DM Sans;
            font-size: $font-size-text;
            font-weight: $font-weight;
            line-height: $line-height;

            color: $placeholder-color;
            height: 27px;
         }

         .info-item:nth-child(2) {
            padding: 0px 41px;
         }
      }

      .info-text {
         font-family: DM Sans;
         font-size: $font-size-text;
         font-weight: $font-weight;
         line-height: $line-height;

         color: $placeholder-color;

      }

      .info-input {
         width: 305px;
         padding-right: 64px;
      }

      .info-input::placeholder {
         font-family: DM Sans;
         font-size: $font-size-text;
         font-weight: $font-weight;
         line-height: $line-height;

         color: $placeholder-color;
      }

      .container {

         width: 400px;
         margin-right: 21px;

         display: flex;
         flex-direction: column;

         .footer-info {
            width: 409px;
            display: flex;
            justify-content: space-between;
            height: 40px;
            border-bottom: 1px solid #000;
            padding-bottom: 13px;
            margin-left: 10px;
         }

         .messengers {
            width: 170px;
            height: 19px;
            margin-left: 263px;
            padding-top: 50px;

            li {
               padding: 10px;
               display: inline-block;
            }
         }

      }

      .info-item:hover,
      .info-item:active {
         color: #000;
         transition: 0.3s;
      }

      .fa {
         font-size: 19px;
         color: #707070;
      }

      .fa:hover,
      .fa:active {
         color: #000;
         transition: 0.3s;
      }

      button {
         border: none;
      }

   }
}