//=================== глобільний пошук
.background-block-input {
   max-width: 1248px;
   height: 50px;
   margin-bottom: 40px;
   margin: 0 auto;

   .search-block-global {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 5px;
      background-color: $light-gray-color;
      height: 32px;
      padding: 0 10px;
      justify-content: flex-start;
      flex-direction: row;

      img {
         width: 15px;
         height: 15px;
         cursor: pointer;

      }

      input {
         cursor: pointer;
         width: 100%;
         height: 100%;
         background: $light-gray-color;
      }
   }
}

#icon-search-global {
   cursor: pointer;
}

#container-global-search {
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.5s ease-in-out;

   @media (max-width: 700px) {
      max-height: 200px;
   }

   @media (min-width: 700px) {
      max-height: 0;
   }
}


#container-global-search.active {
   max-height: 200px;
}



#global-nav-search-for-input {
   display: none;
   max-width: 1248px;
   position: relative;
   left: 0;
   z-index: 3;
   margin: 0 auto;

   #block-item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      #container-items-search-burger {
         height: 100%;
         animation: slideIn 0.8s ease-in-out;
         padding: 15px;

         img,
         h1,
         h2,
         p,
         span {
            cursor: pointer;
            font-family: DM Sans;
            font-weight: 400;
            line-height: 34px;
            font-style: normal;
         }

         img {
            width: 180px;
            border-radius: 5px;
            float: left;
            margin-right: 5%;
         }

         h1 {
            color: $black-color;
            font-size: 19px;
         }

         h2 {
            color: $placeholder-color;
            font-size: 17px;
         }

         p,
         span {
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
         }


         p {
            display: inline;
            width: 50px;
            margin-right: 10px;
         }

         span {
            color: $accent-color;
         }

      }
   }



   @keyframes slideIn {
      from {
         transform: translateY(-20px);
         opacity: 0;
      }

      to {
         transform: translateY(0);
         opacity: 1;
      }
   }
}

.discounted {
   color: $errors-color;
   text-decoration: line-through 1px;
}

.regular {
   color: $accent-color;
}

// глобільний пошук адаптив
@media (max-width: 1135px) {
   #global-nav-search-for-input {
      #block-item {
         grid-template-columns: repeat(2, 1fr);

         #container-items-search-burger {


            h1 {
               font-size: 17px;
            }

            h2 {
               font-size: 15px;
            }

            p,
            span {
               font-size: 16px;
               line-height: 26px;
            }
         }
      }
   }
}

@media (max-width: 770px) {
   #global-nav-search-for-input {
      #block-item {
         grid-template-columns: repeat(1, 1fr);

         #container-items-search-burger {
            padding: 15px 5px;

            img,
            h1,
            h2,
            p,
            span {
               line-height: 24px;
            }

            img {
               margin-right: 3%;
            }
         }
      }
   }
}

@media (max-width: 425px) {
   #global-nav-search-for-input {

      #block-item {
         #container-items-search-burger {
            padding: 10px 0;

            img {
               width: 130px;
            }

            h1 {
               font-size: 15px;
            }

            h2 {
               font-size: 13px;
            }

            p,
            span {
               font-size: 14px;
               line-height: 16px;
            }
         }
      }
   }
}