header {
  max-width: 1248px;
  height: 53px;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 16px;

  z-index: 7;

  // клас для підчеркування nav-li в Header.js
  .decstop-nav li.active-header-li {
    border-bottom: 2px solid $black-color;
  }

  .header_link_cart {
    position: relative;

    .cart__count {
      display: none;
      background: #fff;
      position: absolute;
      left: 11px;
      top: -17px;
      min-width: 20px;
      height: 20px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 1px solid $black-color;
      border-radius: 50px;
      font-size: 13px;
      font-weight: 600;
      color: $black-color;
      padding: 2px;
    }
  }

  &,
  .decstop-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &:nth-child(4) {
      font-weight: 200;
      font-size: 20px;
    }
  }
  //ховаємо Burger після 700px
  .burger-nav {
    display: none;
  }

  .decstop-nav {
    width: 400px;
    height: 50px;

    color: $black-color;

    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

    li {
      position: relative;
      top: 5px;
      height: 90%;
    }

    img {
      margin-top: 4px;
    }

    //! Animation burber
    label {
      display: none;

      flex-direction: column;
      width: 30px;
      height: 45px;
      cursor: pointer;
      margin-top: 18px;
      z-index: 10;
    }

    label span {
      background: $black-color;
      border-radius: 10px;
      height: 2px;
      margin: 3px 0;
      transition: $transition-time cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    span:nth-of-type(1) {
      width: 80%;
    }

    span:nth-of-type(2) {
      width: 80%;
    }

    span:nth-of-type(3) {
      width: 50%;
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotatez(45deg) translate(5px, 4px);
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(2) {
      transform-origin: top;
      transform: rotatez(-45deg) translate(1px, 0px);
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(3) {
      transform-origin: bottom;
      width: 50%;
      height: 1.5px;
      transform: translate(-2px, -7.5px) rotatez(45deg);
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    margin-top: 5px;
    display: none;
    position: absolute;
    min-width: 160px;
    right: 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 0 0 10px 10px;
    transition: background-color 0.3s;
  }

  /* Sign In */
  .dropdown-content a:nth-child(1) {
    border-radius: 10px;
  }

  /* My account */
  .dropdown-content a:nth-child(2) {
    border-radius: 10px 10px 0 0;
  }

  /* Sign Out */
  .dropdown-content a:nth-child(3) {
    border-radius: 0 0 10px 10px;
  }

  .account-dropdown a:hover {
    background-color: #f0f0f0;
  }

  #accountDropdownWrapper.active .account-dropdown {
    display: block;
  }
}

@media (max-width: 600px) {
  header {
    margin-top: 16px;

    .decstop-nav {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      li {
        display: none;
      }

      .active-cart-visual {
        display: block;
        margin: 0 20px 5px 0;
        z-index: 9;
      }

      label {
        display: flex;
        align-items: flex-end;
      }
    }

    .hidden {
      display: block !important;
      /* Перевизначте стиль для показу */
    }

    .burger-nav {
      display: block;
      width: 100%;
      height: 700px;
      padding: 20px;
      background-color: $white-color;
      position: absolute;
      z-index: 8;
      inset: 0;
      transition: all 0.5s ease-in-out;

      .active-hiddin {
        left: 600px;
      }

      li {
        color: $black-color;

        text-transform: capitalize;
        font-family: DM Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        padding: 0 0 0.6rem 0;

        margin: 0.6rem 0 0 0;
      }

      li,
      hr {
        margin-bottom: 24px;
      }

      h1,
      hr {
        position: relative;
      }

      img {
        margin: 4px 0 39px 0;
      }
    }
  }
}
