// Стилі та фонти
@import '_base/mixins';
@import '_base/tools';
@import '_base/fonts';

// Основні сторінки
@import './_home/main';
@import './_product/main';
@import './_shop/main';
@import './_contact/main';
@import './_account/main';
@import './_cart//main';

body {
  padding: 0px 96px;
}
@media (max-width: 1000px) {
  body {
    padding: 0px 70px;
  }
}

@media (max-width: 860px) {
  body {
    padding: 0px 50px;
  }
}

@media (max-width: 460px) {
  body {
    padding: 0px 16px;
  }
}

.ff:nth-of-type(1) {
  color: red;
}
