// Стилі та фонти
@import "_base/mixins";
@import "_base/tools";
@import "_base/fonts";

//preload
@import "./_home/preload";

// Основні сторінки
@import "./_home/main";
@import "./_product/main";
@import "./_shop/main";
@import "./_contact/main";
@import "./_account/main";
@import "./_reset-password/main";
@import "./_blog/main";
@import "./_help/main";
@import "./_cart/main";
@import "./_my-account/main";
@import "./_our-story/main";
@import "./_checkout-pages/main";
@import "./_error404/main";
@import "./_blog-addopt/main";
@import "./_items/main";

body {
  padding: 0px 16px;
}

