// Стилі та фонти
@import '_base/mixins';
@import '_base/tools';
@import '_base/fonts';

//preload
// @import "./_home/preload";

// Основні сторінки
@import './_home/main';
@import './_product/main';
@import './_shop/main';
@import './_contact/main';
@import './_account/main';
@import './_reset-password/main';
@import './_blog/main';
@import './_help/main';
@import './_cart/main';
@import './_my-account/main';
@import './_our-story/main';
@import './_checkout-pages/main';
@import './_order-confirmation/main';
@import './_error404/main';
@import './_blog-addopt/main';
@import './_items/main';

@import './global-search';
@import './header';
@import './footer';

body {
  padding: 0px 16px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $light-gray-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $placeholder-color;
    border-radius: 20px;
    border: 3px solid $light-gray-color;
  }
}

// .Scroll_js_right {
//    opacity: 0;
//    filter: blur(1px);
//    transform: translateX(-5%);
//    transition: filter 1s ease, transform 1s ease;
// }

// .Scroll_js_right.show {
//    opacity: 1;
//    filter: blur(0);
//    transform: translateX(0);
// }

// .Scroll_js_up {
//    opacity: 0;
//    filter: blur(1px);
//    transform: translateY(-30%);
//    transition: filter 1s ease, transform 1s ease;
// }

// .Scroll_js_up.show {
//    opacity: 1;
//    filter: blur(0);
//    transform: translateY(0);
// }
// стилі для помилок
.error-message {
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0;
  bottom: -20px;
  color: $errors-color;
  font-family: 'DM Sans';
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}

// Чекбокс Загальні стилі
.checkbox,
.checkbox-to-save,
.checkout__checkbox-create {
  input[type='checkbox'] {
    height: 0;
    width: 0;
  }

  input[type='checkbox'] + label {
    position: relative;
    display: flex;
    margin: 0.6em 0;
    align-items: center;
    color: $placeholder-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  }
  input[type='checkbox'] + label > ins {
    position: absolute;
    display: block;
    bottom: 0;
    left: 2em;
    height: 0;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    transition: height $transition-time cubic-bezier(0.4, 0, 0.23, 1);
  }

  input[type='checkbox'] + label > ins > i {
    position: absolute;
    bottom: 0;
    font-style: normal;
    color: $placeholder-color;
  }
  input[type='checkbox'] + label > span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    background: transparent;
    border: 2px solid $placeholder-color;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  }

  input[type='checkbox'] + label:hover,
  input[type='checkbox']:focus + label {
    color: $black-color;
  }

  input[type='checkbox'] + label:hover > span,
  input[type='checkbox']:focus + label > span {
    background: $white-color;
  }

  input[type='checkbox']:checked + label > ins {
    height: 100%;
  }
  input[type='checkbox'] + label > span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    background: transparent;
    border: 2px solid $placeholder-color;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  }

  input[type='checkbox'] + label:hover,
  input[type='checkbox']:focus + label {
    color: $black-color;
  }

  input[type='checkbox'] + label:hover > span,
  input[type='checkbox']:focus + label > span {
    background: $white-color;
  }

  input[type='checkbox']:checked + label > ins {
    height: 100%;
  }
  input[type='checkbox']:checked + label > span {
    border: 0.5em solid$placeholder-color;
    animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
  }

  input[type='checkbox']:checked + label > span:before {
    content: '';
    position: absolute;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
  }
  @keyframes shrink-bounce {
    0% {
      transform: scale(1);
    }

    33% {
      transform: scale(0.85);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes checkbox-check {
    0% {
      width: 0;
      height: 0;
      border-color: $white-color;
      transform: translate3d(0, 0, 0) rotate(45deg);
    }

    33% {
      width: 0.2em;
      height: 0;
      transform: translate3d(0, 0, 0) rotate(45deg);
    }

    100% {
      width: 0.2em;
      height: 0.5em;
      border-color: $white-color;
      transform: translate3d(0, -0.5em, 0) rotate(45deg);
    }
  }
}
