/**
Example:
@include font-face('Roboto', '../fonts/RobotoRegular', null, null, woff2 woff);
@include font-face('Roboto', '../fonts/RobotoBold', 700, null, woff2 woff);
**/
@font-face {
  font-family: "Angeline";
  src: url(../fonts/AngelineVintage.woff) format("woff"), url(../fonts/AngelineVintage.woff2) format("woff2");
}
h1 {
  color: rgb(219, 10, 10);
}

.Product {
  color: rgb(103, 118, 16);
}

.shop {
  color: rgb(29, 198, 54);
}