.Shop {
   max-width: 1248px;
   margin: 0 auto;

   h1 {
      margin-bottom: 39px;
   }

   #hide {
      display: block;
   }

   .mobile-filter {
      display: none;
      margin: 0 0 16px 0;
      cursor: pointer;

      h2 {
         font-size: 35px;
         margin: 0 0 17px 0;
      }

      .mobile-filter_button {
         display: flex;
         gap: 10px;

         p {
            font-family: DM Sans;
            color: $accent-color;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
         }
      }
   }

   .shop-container {
      display: flex;
      justify-content: space-between;

      .A {
         width: 261px;
         margin-right: 30px;

         .input-div {
            width: 261px;
            position: relative;
         }

         .input-div input {
            width: 261px;
            height: 43px;
            border: none;
            border-bottom: 2px solid $light-gray-color;
            margin-bottom: 11px;
            padding-right: 23px;
         }

         .input-div img {
            background: $white-color;
            position: absolute;
            right: 0px;
            top: 5px;
            padding: 5px;
            cursor: pointer;
         }

         /* | DROPMENU SORT BY | */

         .select-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 39px 0;

            .dropdown {
               position: relative;
               display: inline-block;
            }

            .dropdown-content {
               display: none;
               position: absolute;
               top: 59px;
               overflow: auto;
               z-index: 1;
               border: 1px solid $light-gray-color;
               border-radius: 6px;
            }

            .drop-btn {
               background: $white-color;
               border: 1px solid $light-gray-color;
               border-radius: 6px;
               width: 261px;
               height: 53px;
               padding: 16px;
               cursor: pointer;
               @include price_text_mobile;
               text-align: left;

               img {
                  position: relative;
                  float: right;
                  top: 6px;
               }
            }

            .dropbtn-icon-rotate {
               transform: rotate(270deg);
               transform-origin: center;
            }

            .dropdown-content {
               button {
                  width: 261px;
                  height: 53px;
                  padding: 12px 16px;
                  display: block;
                  background: $white-color;
                  border: none;
                  border-bottom: 1px solid $light-gray-color;
                  cursor: pointer;
                  @include price_text_mobile;
                  text-align: left;
                  padding-left: 25px;

                  &:hover {
                     background-color: $light-gray-color;
                  }

                  &:active {
                     background: $white-color;
                  }
               }

               button:last-child {
                  border-bottom: none;
               }
            }

            .show {
               display: block;
            }
         }

         /* | DROPMENU SORT | */

         .for-button {
            display: flex;
            justify-content: space-between;
            margin-bottom: 21px;
            width: 260px;

            .toggle-switch {
               position: relative;
               display: inline-block;
               width: 33px;
               height: 20px;
            }

            /* Hide default HTML checkbox */
            .toggle-switch input {
               opacity: 0;
               width: 0;
               height: 0;
            }

            /* The toggle */
            .toggle {
               position: absolute;
               cursor: pointer;
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               background-color: $placeholder-color;
               -webkit-transition: 0.4s;
               transition: 0.4s;
            }

            .toggle:before {
               content: '';
               width: 14px;
               height: 14px;
               position: absolute;
               left: 10px;
               top: 50%;
               background-color: $white-color;
               transform: translate(-50%, -50%);
               transition: 0.4s;
            }

            input:checked+.toggle {
               background-color: $accent-color;
            }

            input:focus+.toggle {
               box-shadow: 0 0 1px $accent-color;
            }

            input:checked+.toggle:before {
               left: 24px;
            }

            /* Rounded toggles */
            .toggle.round {
               border-radius: 34px;
            }

            .toggle.round:before {
               border-radius: 50%;
            }
         }

         //  Filter input range styles

         .price-filter {
            background: $white-color;
            border-radius: 10px;

            .price-range {
               display: flex;
               justify-content: space-between;
               margin: 16px 0 21px 0;
            }

            .price-range-summ {
               font-size: 14px;
               font-weight: 400;
               color: $placeholder-color;
               line-height: 22px;
            }

            .price-range-filter {
               font-size: 14px;
               font-weight: 400;
               line-height: 22px;
               letter-spacing: 0.5px;
               color: $accent-color;
            }

            .slider-progress {
               height: 3px;
               border-radius: 5px;
               background: $gray-color;
               position: relative;

               .range-progress {
                  left: 1px;
                  right: 1px;
                  height: 3px;
                  position: absolute;
                  border-radius: 5px;
                  background: $accent-color;
               }
            }

            .range-input {
               position: relative;

               input {
                  position: absolute;
                  top: -3px;
                  left: 0px;
                  height: 3px;
                  width: 100%;
                  background: none;
                  pointer-events: none;
                  cursor: pointer;
                  appearance: none;
               }
            }

            input[type='range']::-webkit-slider-thumb {
               height: 15px;
               width: 15px;
               border-radius: 50%;
               pointer-events: auto;
               -webkit-appearance: none;
               background: $accent-color;
            }

            input[type='range']::-moz-range-thumb {
               height: 17px;
               width: 17px;
               border: none;
               border-radius: 20px;
               pointer-events: auto;
               -moz-appearance: none;
               background: $accent-color;
            }
         }

         //  Filter input range styles
      }

      /*  ||| B ||| */

      .B {
         width: 937px;
         height: 100%;

         #deBag_marginTop {
            margin-top: 0;
         }

         .shop-latest-blocks {
            gap: 70px 24px;
            font-family: DM Sans;
         }

         .shop-latest__block {
            // border: 1px solid red;

            .shop-latest__img {
               position: relative;

               .productVariant {
                  display: none;
               }

               img {
                  width: 100%;
                  height: auto;
                  border-radius: 10px;
               }

               .shop-latest_hover {
                  opacity: 0;
                  background-color: rgba(255, 255, 255, 0.5);
                  min-height: 48px;
                  min-width: 100%;
                  position: absolute;
                  bottom: 4px;
                  padding: 0 30px 0 30px;
                  transition: all 0.4s ease;

                  display: flex;
                  justify-content: space-between;
                  align-items: center;
               }

               &:hover .shop-latest_hover {
                  opacity: 1;
               }

               .shop-latest__heart {
                  width: 1.5em;
                  cursor: pointer;
               }

               .add-new,
               .add-discount,
               .category,
               .add-sold {
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 63px;
                  height: 24px;
                  border-radius: 4px;
                  font-family: DM Sans;
                  font-size: 13px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 20px;

                  top: 16px;
                  left: 16px;
                  cursor: pointer;
               }

               .label-container {
                  // border: 1px solid red;
                  display: flex;
                  flex-wrap: wrap;
                  position: absolute;
                  top: 16px;
                  left: 16px;
                  // width: 100%;

                  div {
                     &:first-child {
                        margin-right: 10px;
                     }
                  }
               }
            }

            // Class for "Sold" label
            .add-sold {
               color: $white-color;
               background-color: $accent-color;
            }

            // Class for "-%price%" label
            .add-discount,
            .add-popular {
               color: $white-color;
               background-color: $accent-color;
            }

            //* Class for "category" label
            // <div class="add-earrings category">Earrings</div>
            // <div class="add-brooch category">Brooch</div>
            // <div class="add-bracelets category">Bracelets</div>
            // <div class="add-pendants category">Pendants</div>

            // <div class="add-popular category">Popular</div>
            // <div class="add-new category">New</div>
            // <div class="add-discount category">Sold Out</div>
            // <div class="add-sold category">Sold Out</div>

            .add-earrings,
            .add-brooch,
            .add-bracelets,
            .add-pendants {
               background-color: $black-color;
               color: $white-color;
            }

            // Class for "New" label
            .add-new {
               background-color: $white-color;
               color: $black-color;
            }
         }

         .shop-latest_hover_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 45px;
            min-width: 100%;
            transition: all 0.3s ease;
            position: relative;
         }

         .price-discount {
            margin-right: 16px;
            color: $errors-color;
            text-decoration: line-through 1px;
         }
      }
   }
}


@media (max-width: 1100px) {
   
   .Shop {
      .shop-container {
         .B {
            .shop-latest__block {
               .shop-latest__img {
                  .shop-latest_hover {
                     min-height: 35px;
                  }

                  .shop-latest__heart {
                     width: 1.2em;
                     cursor: pointer;
                  }
               }

               .shop-latest_hover_container {
                  p {
                     font-size: 12.5px;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 1000px) {
   .Shop {
      .shop-container {
         .B {
            .shop-latest-blocks {
               display: grid;
               grid-template-columns: repeat(2, 1fr);
               grid-template-rows: repeat(2, 1fr);
               gap: 20px 24px;
               margin: 0 auto;
            }

            .shop-latest__block {
               .shop-latest__img {
                  .shop-latest_hover {
                     min-height: 35px;
                  }

                  .shop-latest__heart {
                     width: 1.2em;
                     cursor: pointer;
                  }
               }

               .shop-latest_hover_container {
                  min-height: 35px;

                  p {
                     font-size: 14px;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 860px) {
   .Shop {
      .mobile-filter {
         display: block;
      }

      h1 {
         display: none;
      }

      .shop-container {
         .A {
            display: none;
         }

         .B {
            .shop-latest-blocks {
               display: grid;
               grid-template-columns: repeat(3, 1fr);
               grid-template-rows: repeat(2, 1fr);
               gap: 20px 24px;
               margin: 0 auto;
            }

            .shop-latest__block {
               .shop-latest__img {
                  .shop-latest_hover {
                     min-height: 40px;
                     padding: 0 20px 0 20px;
                  }

                  .shop-latest__heart {
                     width: 1em;
                     cursor: pointer;
                  }
               }

               .shop-latest_hover_container {
                  min-height: 40px;

                  p {
                     font-size: 12px;
                  }
               }

               .shop-latest__name {
                  margin: 15px 0 8px 0;

                  font-size: 15px;
               }

               .shop-latest__price {
                  font-size: 15px;
               }
            }
         }
      }
   }
}

@media (max-width: 700px) {
   .Shop {
   margin-top: 120px;

   }
}

@media (max-width: 680px) {
   .Shop {
      .shop-container {
         .B {
            .shop-latest-blocks {
               grid-template-columns: repeat(2, 1fr);

               gap: 20px 16px;
            }

            .shop-latest__block {
               .shop-latest__img {
                  .shop-latest_hover {
                     min-height: 35px;
                     padding: 0 10px 0 10px;
                  }

                  .shop-latest__heart {
                     width: 1em;
                  }
               }

               .shop-latest_hover_container {
                  min-height: 35px;

                  p {
                     font-size: 11px;
                  }
               }

               .shop-latest__name {
                  margin: 6px 0 4px 0;

                  font-size: 14px;
               }

               .shop-latest__price {
                  font-size: 12px;
               }
            }
         }
      }
   }
}

@media (max-width: 425px) {
   .Shop {
      .shop-container {
         .B {
            .shop-latest {
               .shop-latest-container {
                  .shop-latest-blocks {
                     .shop-latest__block {
                        .shop-latest__img {
                           .label-container {
                              top: 8px;
                              left: 8px;

                              .add-new,
                              .add-discount,
                              .add-category,
                              .add-sold,
                              .category {
                                 width: 43px;
                                 height: 20px;
                                 font-size: 9px;

                                 &::before {
                                    margin: -5px;
                                 }

                              }
                           }
                        }

                        .add-new,
                        .add-discount,
                        .add-category,
                        .add-sold {
                           &::before {
                              margin: -5px;
                           }

                           width: 30px;
                        }

                     }
                  }
               }
            }
         }
      }
   }
}