.Shop {
   max-width: 1248px;
   min-height: 1100px;
   margin: 0 auto;


   h1 {
      margin-bottom: 39px;
   }

   #hide {
      display: block;
   }

   .mobile-filter {
      display: none;
      cursor: pointer;

      h2 {
         font-size: 35px;
         margin: 0 0 10px 0 !important;
      }

   }

   .mobile-filter_button {
      display: none;
      gap: 10px;
      margin-bottom: 10px;

      p {
         font-family: DM Sans;
         color: $accent-color;
         font-size: 14px;
         font-style: normal;
         font-weight: 400;
         line-height: 20px;
      }
   }

   .shop-container {

      display: flex;
      justify-content: space-between;
      gap: 30px;




      .filter-menu {
         width: 261px;
         height: 100%;
         // z-index: 6;

         .input-div {
            position: relative;
         }

         .input-div input {
            width: 260px;
            height: 43px;
            border: none;
            border-bottom: 2px solid $light-gray-color;
            margin-bottom: 11px;
            padding-right: 23px;
         }

         .input-div img {
            background: $white-color;
            position: absolute;
            right: 0px;
            top: 5px;
            padding: 5px;
            cursor: pointer;
         }

         /* | DROPMENU SORT BY | */

         .select-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 39px 0;

            .dropdown {
               position: relative;
               display: inline-block;
            }

            .dropdown-content {
               display: none;
               position: absolute;
               top: 59px;
               overflow: auto;
               z-index: 1;
               border: 1px solid $light-gray-color;
               border-radius: 6px;
            }

            .drop-btn {
               background: $white-color;
               border: 1px solid $light-gray-color;
               border-radius: 6px;
               width: 100%;
               height: 53px;
               padding: 16px;
               cursor: pointer;
               @include price_text_mobile;
               text-align: left;

               img {
                  position: relative;
                  float: right;
                  top: 6px;
               }
            }

            .dropbtn-icon-rotate {
               transform: rotate(270deg);
               transform-origin: center;
            }

            .dropdown-content {
               width: 100%;

               button {
                  // width: 260px;
                  width: 100%;
                  height: 53px;
                  padding: 12px 16px;
                  display: block;
                  background: $white-color;
                  border: none;
                  border-bottom: 1px solid $light-gray-color;
                  cursor: pointer;
                  @include price_text_mobile;
                  text-align: left;
                  padding-left: 25px;

                  &:hover {
                     background-color: $light-gray-color;
                  }

                  &:active {
                     background: $white-color;
                  }
               }

               button:last-child {
                  border-bottom: none;
               }
            }

            .show {
               display: block;
            }
         }

         /* | DROPMENU SORT | */

         .for-button {
            display: flex;
            justify-content: space-between;
            margin-bottom: 21px;
            width: 100%;

            .toggle-switch {
               position: relative;
               display: inline-block;
               width: 33px;
               height: 20px;
            }

            /* Hide default HTML checkbox */
            .toggle-switch input {
               opacity: 0;
               width: 0;
               height: 0;
            }

            /* The toggle */
            .toggle {
               position: absolute;
               cursor: pointer;
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               background-color: $placeholder-color;
               -webkit-transition: 0.4s;
               transition: 0.4s;
            }

            .toggle:before {
               content: '';
               width: 14px;
               height: 14px;
               position: absolute;
               left: 10px;
               top: 50%;
               background-color: $white-color;
               transform: translate(-50%, -50%);
               transition: 0.4s;
            }

            input:checked+.toggle {
               background-color: $accent-color;
            }

            input:focus+.toggle {
               box-shadow: 0 0 1px $accent-color;
            }

            input:checked+.toggle:before {
               left: 24px;
            }

            /* Rounded toggles */
            .toggle.round {
               border-radius: 34px;
            }

            .toggle.round:before {
               border-radius: 50%;
            }
         }

         //  Filter input range styles

         .price-filter {
            background: $white-color;
            border-radius: 10px;

            .price-range {
               display: flex;
               justify-content: space-between;
               margin: 16px 0 21px 0;
            }

            .price-range-summ {
               font-size: 14px;
               font-weight: 400;
               color: $placeholder-color;
               line-height: 22px;
            }

            .price-range-filter {
               font-size: 14px;
               font-weight: 400;
               line-height: 22px;
               letter-spacing: 0.5px;
               color: $accent-color;
            }

            .slider-progress {
               height: 3px;
               border-radius: 5px;
               background: $gray-color;
               position: relative;

               .range-progress {
                  left: 1px;
                  right: 1px;
                  height: 3px;
                  position: absolute;
                  border-radius: 5px;
                  background: $accent-color;
               }
            }

            .range-input {
               position: relative;

               input {
                  position: absolute;
                  top: -3px;
                  left: 0px;
                  height: 3px;
                  width: 100%;
                  background: none;
                  pointer-events: none;
                  cursor: pointer;
                  appearance: none;
               }
            }

            input[type='range']::-webkit-slider-thumb {
               height: 15px;
               width: 15px;
               border-radius: 50%;
               pointer-events: auto;
               -webkit-appearance: none;
               background: $accent-color;
            }

            input[type='range']::-moz-range-thumb {
               height: 17px;
               width: 17px;
               border: none;
               border-radius: 20px;
               pointer-events: auto;
               -moz-appearance: none;
               background: $accent-color;
            }
         }

         //  Filter input range styles
      }

      @media (max-width: 860px) {
         flex-direction: column;

         .filter-menu {
            width: 100%;

            .input-div input {
               width: 100%;
            }

            .container-sort-btns {
               display: flex;
               justify-content: space-between;
               gap: 20px;
               padding: 0 10px;

               .select-container {
                  width: 50%;

                  .dropdown-content {
                     button {
                        width: 100%;
                     }
                  }
               }

               .container-filter {
                  width: 50%;
                  margin-top: 45px;
               }
            }



         }
      }

      @media (max-width: 600px) {
         .filter-menu {
            width: 100%;
            padding: 0 5px;

            .container-sort-btns {
               flex-direction: column;
               gap: 0;

               .select-container {
                  width: 100%;
               }

               .container-filter {
                  width: 100%;
                  margin-top: 0px;
                  margin-bottom: 20px;
               }
            }
         }
      }


      .conteiner-items {
         height: 100%;

         #deBag_marginTop {
            margin-top: 0;
            margin-bottom: 0px;
         }

         .shop-latest-blocks {
            gap: 70px 24px;
            font-family: DM Sans;
         }

         .shop-latest_hover {
            min-height: 48px;
         }
      }
      .conteiner-items{
         .shop-latest-container{
            .navigation-bar{
               margin-top: 100px;
               display: flex;
               justify-content: center;
               .cards__pages{
                  transition: .2s all linear;
                  cursor: pointer;
                  border: 1px solid $gray-color;
                  border-radius: 4px;
                  width: 40px;
                  height: 40px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 5px;
                  p{
                     font-size: 14px;
                     line-height: 22px;
                     color: $black-color;
                  }
               }
               #pagination-info{
                  display: flex;
                  align-items: center;
                  font-family: DM Sans;
                  font-size: 14px;
                  line-height: 22px;
                  color: $black-color;
               }
               .cards__pages__arrow-back{
                  display: none;
                  img{
                     transform: rotate(180deg);
                  }
               }
               .act_page{
                  transition: .2s all linear;
                  background-color: $black-color; 
                  p{
                   color: $white-color;
                  }
               }
            }
         }
      }
   }

   @media (max-width: 1000px) {

      // .Shop {
      //    .shop-container {
      .conteiner-items {
         .shop-latest-blocks {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 60px 24px;
            margin: 0 auto;
         }

         .shop-latest__block {
            .shop-latest__img {
               .shop-latest_hover {
                  min-height: 35px;
                  padding: 0 13px 0 13px;
               }

               .shop-latest__heart {
                  width: 1.2em;
                  height: 1.2rem;
                  cursor: pointer;
               }
            }

            .shop-latest_hover_container {
               min-height: 48px;

               p {
                  font-size: 14px;
               }
            }
         }
      }
   }


   @media (max-width: 860px) {
      .filter-menu {
         @include animatedHideShow;

      }

      // .Shop {
      .mobile-filter,
      .mobile-filter_button {
         display: flex;
      }

      h1 {
         display: none;
      }
   }
}