section {
   max-width: 1248px;
   height: 500px;
   border: 1px solid black;
   display: flex;
   justify-content: space-between;
   margin:  0 auto;
}

.A {
   width: 303px;
}

.B {
   width: 937px;

}