<section class="account">
    <h1>My account</h1>
    <div class="exit-block">
        <a class="sign" href="#">
            <h3>Sign in</h3>
        </a> 
        <a class="register" href="#">
            <h3>Register</h3>
        </a>
    </div>

    <form action="#">
        <div class="mail-container">
            <input class="input_mail" type="email" name="UserMail" placeholder="Email">
          
            <img src="../../../assets/img/Account_img/icon.png" alt="" class="clear-icon_mail">
        </div>
        <hr>
        <div class="password-container">
            <input class="input_pass" type="password" name="userpass" placeholder="Password">
            <img src="../../../assets/img/Account_img/icon.png" alt="" class="clear-icon_pass">
        </div>
      
        <hr>
        <div class="checkbox-container">
            <input class="input_checkbox" type="checkbox" name="remember">
           
            <span>Remember me</span>
        </div>
        
        <button>SIGN IN</button>
        <a href="#">Have you forgotten your password?</a>
    </form>
 </section>