<section class="blog-addopt">
   <aside class="blog-addopt__navbar">
      
      <div class="mobile-categories_button">
         <img src="./assets/img/Shop_img/filter.png" alt="">
         <p>Categories</p>
      </div>
      <div class="mobile-blog_categories">
         <div class="blog__search">
            <label for="search-input"></label>
            <div class="input-div">
               <input type="text" placeholder="Search..." id="search-input-addopt" />
               <img src="./assets/img/Shop_img/search-icon.svg" alt="" />
            </div>
         </div>
         <div class="blog_categories">
            <h4>Categories</h4>
            <ul>
               <li><a id="categoriesBtns" href="./blog.html">Fashion</a></li>
               <li><a id="categoriesBtns" href="./blog.html">Style</a></li>
               <li><a id="categoriesBtns" href="./blog.html">Accessories</a></li>
               <li><a id="categoriesBtns" href="./blog.html">Season</a></li>
            </ul> 
         </div>
      </div>


   </aside>
   <div class="blog-addopt__contents">
      <h1 id="blogName">Fast Fashion, And Faster Fashion</h1>
      <h5 class="sub-title">by <span class="blog__author">ANNY JOHNSON</span> - <span id="blogDate">October 8,2020</span></h5>
      <img id="blogImage" src="./assets/img/BlogAddopt_img/main.png" alt="img">
      <div class="blog_content">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget arcu facilisis consequat sed eu felis. Nunc sed porta augue. </p>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget arcu facilisis consequat sed eu felis.</p>
         <img class="trends-img" src="./assets/img/BlogAddopt_img/top-trends.png" alt="img">
         <div class="top-trends">
            <h2>Top trends</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero.</p>
            <ul>
               <li>consectetur adipiscing elit. Aliquam placerat</li>
               <li>Lorem ipsum dolor sit amet consectetur</li>
               <li>sapien tortor faucibus augue </li>
               <li>a maximus elit ex vitae libero. Sed quis mauris eget arcu facilisis</li>
            </ul>
         </div>
         <div class="blog-social">
            <div class="tags">
               <h5>Tags</h5>
               <hr>
               <div class="tags-links">
                  <p>
                     <a href="#">Fashion</a>,
                     <a href="#">Style</a>,
                     <a href="#">Season</a>
                  </p>
               </div>
            </div>
            <div class="share">
               <h5>Share</h5>
               <hr>
               <div class="links">
                  <a class="fb" href="#"></a>
                  <a class="inst" href="#"></a>
                  <a class="tw" href="#"></a>
               </div>
            </div>
         </div>
         <hr class="header__underline">
         <div class="leave-reply">
            <h5>Leave a reply</h5>
            <p id="userNotSign">Your email address will not be published. Required fields are marked *</p>
            <form name="FormLeaveReply" action="#" class="block-tabs__form form">
               <div class="form__body" id="userNotSign">
                  <input required name="userName" tabindex="1" type="text" class="leave-reply__input replyInput" placeholder="Enter your name*">
                  <p id="isNotFulling">Enter your name*</p>
                  <span class="delText"><img src="./assets/img/BlogAddopt_img/svg/delText.svg" alt="img"></span>
               </div>
               <div class="form__body" id="userNotSign">
                  <input required name="userEmail" tabindex="2" class="leave-reply__input replyInput" placeholder="Enter your Email*">
                  <p id="isNotFulling">Enter your Email*</p>
                  <span class="delText"><img src="./assets/img/BlogAddopt_img/svg/delText.svg" alt="img"></span>
               </div>
               <div class="form__body" id="userNotSign">
                  <input name="userWebsite" tabindex="3" type="text" class="leave-reply__input replyInput" placeholder="Enter your Website">
                  <p id="isNotFulling"></p>
                  <span class="delText"><img src="./assets/img/BlogAddopt_img/svg/delText.svg" alt="img"></span>
               </div>
               <div class="form__checkbox checkbox checkbox-new" id="userNotSign">
                  <label class="control control--checkbox">
                     Save my name, email, and website in this browser for the next time I comment
                     <input autocomplete="off" type="checkbox" name="myCheckbox" class="checkbox__input replyCheckbox"
                     id="myCheckbox">
                     <div class="control__indicator"></div>
                  </label>
               </div>
               <div class="form__body">
                  <textarea required name="userContent" tabindex="4" type="text" class="leave-reply__input replyInput" placeholder="Your Comment*" cols="30" rows="5"></textarea>
                  <p id="isNotFulling">Enter your Comment*</p>
                  <span class="delText"><img src="./assets/img/BlogAddopt_img/svg/delText.svg" alt="img"></span>
               </div>
            </form>
            <button type="submit" class="btn__black" id="addReply"><span>SAVE CHANGES</span></button>
         </div>
         <div class="blog-reply">
            <h2>Comments(<span class="nuberOfComents">3</span>)</h2>
            <div class="coments-block"></div>

            <template id="mainComments">
               <div class="mainComments">
                  <img class="userImg" src="./assets/img/BlogAddopt_img/userOne.png" alt="img">
                  <div class="userInfo">
                     <h3 class="userName"></h3><span class="userDate"></span>
                     <span class="replyToComment"><img src="./assets/img/BlogAddopt_img/svg/Vector.svg" alt="img"> Reply</span>
                  </div>
                  <p class="userContent"></p>
                  <div class="usersAnswers"></div>
                  <hr class="header__underline">
               </div>
            </template>

            <template id="addoptComments">
               <div class="userAnswer">
                  <img class="userImg" src="./assets/img/BlogAddopt_img/userTwo.png" alt="img">
                  <div class="userInfo">
                     <h3 class="userName"></h3><span class="userDate"></span>
                     <span class="replyToComment"><img src="./assets/img/BlogAddopt_img/svg/Vector.svg" alt="img"> Reply</span>
                  </div>
                  <p class="userContent"></p>
               </div>
            </template>

         </div>
      </div>
   </div>
</section>


