<section class="blog">
   <h1>Blog</h1>
   <aside class="blog__navbar">
      <div class="blog__search">
         <label for="search-input"></label>
         <div class="input-div">
            <input type="text" placeholder="Search..." id="search-input" />
            <img src="./assets/img/Shop_img/search-icon.svg" alt="" />
         </div>
      </div>
      <div class="mobile-categories_button">
         <img src="../../../assets/img/Shop_img/filter.png" alt="">
         <p>Categories</p>
      </div>
      <div class="mobile-blog_categories">
         <ul>
            <li><a href="#">- Fashion</a></li>
            <li><a href="#">- Style</a></li>
            <li><a href="#">- Accessories</a></li>
            <li><a href="#">- Season</a></li>
         </ul>
      </div>
      <div class="blog_categories">
         <h4>Categories</h4>
         <ul>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Style</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Season</a></li>
         </ul>
      </div>
   </aside>
   <div class="blog__contents">
      <div class="blog__cards__content page__block1__content">
         <div class="content__cards">
            <div class="card__img">
               <a href="#"><img src="./assets/img/Blog_img/01blog_card.png" alt="card_photo"></a>
            </div>
            <p class="card__date">Fashion - October 8, 2020</p>
            <h3 class="blog__card__name">Top Trends From Spring</h3>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  faucibus augue, a maximus elit ex vitae libero... </p>
            <a href="#" class="card__read-more">Read More</a>
         </div>
         <div class="content__cards">
            <div class="card__img">
               <a href="#"><img src="./assets/img/Blog_img/02blog_card.png" alt="card_photo"></a>
            </div>
            <p class="card__date">Fashion - October 8, 2020</p>
            <h3 class="blog__card__name">Top Trends From Summer</h3>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  faucibus augue, a maximus elit ex vitae libero... </p>
            <a href="#" class="card__read-more">Read More</a>
         </div>
         <div class="content__cards">
            <div class="card__img">
               <a href="#"><img src="./assets/img/Blog_img/03blog_card.png" alt="card_photo"></a>
            </div>
            <p class="card__date">Fashion - October 8, 2020</p>
            <h3 class="blog__card__name">Top Trends From Fall</h3>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  faucibus augue, a maximus elit ex vitae libero... </p>
            <a href="#" class="card__read-more">Read More</a>
         </div>
         <div class="content__cards">
            <div class="card__img">
               <a href="#"><img src="./assets/img/Blog_img/04blog_card.png" alt="card_photo"></a>
            </div>
            <p class="card__date">Fashion - October 8, 2020</p>
            <h3 class="blog__card__name">Top Trends From Winter</h3>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  faucibus augue, a maximus elit ex vitae libero... </p>
            <a href="#" class="card__read-more">Read More</a>
         </div>
      </div>

      <div class="blog__cards__content page__block2__content">
         <div class="content__cards">
            <div class="card__img">
               <a href="#"><img src="./assets/img/Blog_img/03blog_card.png" alt="card_photo"></a>
            </div>
            <p class="card__date">Fashion - October 8, 2010</p>
            <h3 class="blog__card__name">Top Trends From Spring</h3>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  faucibus augue, a maximus elit ex vitae libero... </p>
            <a href="#" class="card__read-more">Read More</a>
         </div>
         <div class="content__cards">
            <div class="card__img">
               <a href="#"><img src="./assets/img/Blog_img/04blog_card.png" alt="card_photo"></a>
            </div>
            <p class="card__date">Fashion - October 8, 2022</p>
            <h3 class="blog__card__name">Top Trends From Summer</h3>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  faucibus augue, a maximus elit ex vitae libero... </p>
            <a href="#" class="card__read-more">Read More</a>
         </div>
         <div class="content__cards">
            <div class="card__img">
               <a href="#"><img src="./assets/img/Blog_img/01blog_card.png" alt="card_photo"></a>
            </div>
            <p class="card__date">Fashion - October 8, 2019</p>
            <h3 class="blog__card__name">Top Trends From Fall</h3>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  faucibus augue, a maximus elit ex vitae libero... </p>
            <a href="#" class="card__read-more">Read More</a>
         </div>
         <div class="content__cards">
            <div class="card__img">
               <a href="#"><img src="./assets/img/Blog_img/02blog_card.png" alt="card_photo"></a>
            </div>
            <p class="card__date">Fashion - October 8, 2021</p>
            <h3 class="blog__card__name">Top Trends From Winter</h3>
            <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  faucibus augue, a maximus elit ex vitae libero... </p>
            <a href="#" class="card__read-more">Read More</a>
         </div>
      </div>

      <div class="blog__cards__pages">
         <div class="page__block1 cards__pages act_page">
            <p>1</p>
         </div>
         <div class="page__block2 cards__pages">
            <p>2</p>
         </div>
         <div class="cards__pages cards__pages__arrow">
            <img src="./assets/img/Blog_img/svg/arrow.svg" alt="arrow">
         </div>
      </div>
   </div>
</section>