<section class="cart">
   <div class="popup__cart-delete popup">
      <div class="popup__cart">
         <p>Are you sure you want to delete this post?</p>
         <div>
            <button class="btn__white btn__popup-yes">Yes</button>
            <button class="btn__white btn__popup-no">No</button>
         </div>
      </div>
   </div>

   <div class="popup__cart-coupon popup">
      <div class="popup__coupon">
         <p class="popup__coupon-text"></p>
      </div>
   </div>

   <h1 class="Scroll_js_right">Shopping Cart</h1>

   <div class="empty__cart Scroll_js_right">
      <div>
         <img class="light-them" data-dark-src="./assets/img/dark-them/empty-cart.svg"
            data-light-src="./assets/img/Cart_img//svg/empty-cart.svg" src="./assets/img/Cart_img//svg/empty-cart.svg"
            alt="empty-cart" />
      </div>
      <h2>Opss... the product is missing</h2>
      <a class="btn__white" href="./market.html">Select a product</a>
   </div>

   <div class="cart__container">
      <div class="cart__block Scroll_js_right">
         <div class="cart__block-item"></div>

         <div class="cart__update">
            <button class="btn__update-cart btn__white">UPDATE CART</button>
            <div class="cart__coupon">
               <input class="input__coupon" type="text" placeholder="Coupon Code" />
               <ul class="hint__coupon">
                  <li>"2024"</li>
                  <li>"14 лютого"</li>
                  <li>"8 березня"</li>
                  <li>"San Francisco"</li>
                  <li>"Dota"</li>
                  <li>"Minecraft"</li>
               </ul>
               <button class="btn__coupon btn__black">APPLY COUPON</button>
            </div>
         </div>
      </div>

      <aside class="cart-totals Scroll_js_right">
         <h3>Cart totals</h3>
         <div class="cart-totals__subtotal">
            <h5>SUBTOTAL</h5>
            <p>$ <span class="subtotal__price"></span></p>
         </div>
         <div class="cart-totals__shipping">
            <h5>SHIPPING</h5>
            <div class="shipping__content">
               <p>
                  Shipping costs will be calculated once you have provided address.
               </p>
               <div class="shipping__content__folder">
                  <h5>Calculate Shipping</h5>
                  <input type="checkbox" id="folder__checkbox">
                  <label for="folder__checkbox" src="../img/Cart_img/svg/arrow_up.svg"></label>
                  <div class="folder__content">
                     <form action="#" method="post">
                        <div class="selectYourCountry selectYourItem">
                           <p>SELECT A COUNTRY</p>
                           <input type="checkbox" id="selectYourCountry" class="input" />
                           <label for="selectYourCountry"></label>
                           <ul class="optionCountry optionItem">
                              <li class="optionItemElement">Ukrain</li>
                              <li class="optionItemElement">German</li>
                              <li class="optionItemElement">UK</li>
                              <li class="optionItemElement">USA</li>
                           </ul>
                        </div>
                        <div class="selectYourCity selectYourItem">
                           <p>CITY</p>
                           <input type="checkbox" id="selectYourCity" class="input" />
                           <label for="selectYourCity"></label>
                           <ul class="optionCity optionItem">
                              <li class="optionItemElement">Dnipro</li>
                              <li class="optionItemElement">Kiyv</li>
                              <li class="optionItemElement">Odesa</li>
                              <li class="optionItemElement">Kharkiv</li>
                           </ul>
                        </div>
                        <div class="selectYourZip selectYourItem">
                           <p>POST CODE / ZIP</p>
                           <input type="checkbox" id="selectYourZip" class="input" />
                           <label for="selectYourZip"></label>
                           <ul class="optionZip optionItem">
                              <li class="optionItemElement">128020</li>
                              <li class="optionItemElement">132020</li>
                              <li class="optionItemElement">590022</li>
                              <li class="optionItemElement">340500</li>
                           </ul>
                        </div>
                     </form>
                     <button class="btn__update-totals btn__white">
                        UPDATE TOTALS
                     </button>
                  </div>
               </div>
            </div>
         </div>
         <div class="cart-total__checkout">
            <hr class="header__underline" />
            <div class="checkout__total-cost checkout__shipping">
               <h5>SHIPPING</h5>
               <p>$ <span class="price__shipping">20</span></p>
            </div>
            <div class="checkout__total-cost checkout__coupon">
               <h5>DISCOUNT COUPON</h5>
               <p><span class="price__discount">0</span> %</p>
            </div>
            <div class="checkout__total-cost">
               <h5>TOTAL</h5>
               <p>
                  <span class="total__price"></span><span class="new__total-price"></span>
               </p>
            </div>
            <button class="btn__checkout-cart btn__black">
               PROCEED TO CHECKOUT
            </button>
         </div>
      </aside>
   </div>
</section>

{% include "_html/_base/_includes/_Them-switcher.html" %}