<section class="contact Scroll_js_right">
   <div class="contact__container">
      <div class="contact__block-header">
         <h1 class="contact__title">Contact Us</h1>
         <p class="contact__text">
            Say Hello send us your thoughts about our products or share
            your ideas with our Team!
         </p>
      </div>
      <form name="main" action="#" class="contact__form form">
         <div class="form__columns columns-form">
            <div class="columns-form__column">
               <div class="columns-form__body">
                  <input autocomplete="off" name="inputName" tabindex="1" type="text" class="columns-form__input"
                     placeholder="First name">
                  <a href="" class="columns-form__button">
                     <i class="fa-solid fa-circle-xmark"></i>
                  </a>
               </div>
               <div class="columns-form__body">
                  <input autocomplete="off" name="inputLastName" tabindex="2" type="text" class="columns-form__input"
                     placeholder="Last name">
                  <a href="" class="columns-form__button">
                     <i class="fa-solid fa-circle-xmark"></i>
                  </a>
               </div>
            </div>
            <div class="columns-form__column">
               <div class="columns-form__body">
                  <input autocomplete="off" type="email" name="inputEmail" tabindex="3"
                     class="columns-form__input input" placeholder="Email">
                  <a href="" class="columns-form__button columns-form__button-email">
                     <i class="fa-solid fa-circle-xmark"></i>
                  </a>
               </div>
               <div class="custom-select">
                  <div class="select-header">Subject
                     <img src="./assets/img/Contact_img/arrow.svg" alt="arrow">
                  </div>
                  <ul class="select-options">
                     <li data-value="Subject 2" value="Subject 2">Subject 2</li>
                     <li data-value="Subject 3" value="Subject 3">Subject 3</li>
                     <li data-value="Subject 4" value="Subject 4">Subject 4</li>
                  </ul>
               </div>
            </div>
         </div>
        <div class="contact__message">
            <input tabindex="5" autocomplete="off" type="text" name="messageInput" placeholder="Message"
               class="contact__input input--message">
        </div>
         <button name="nameButton" type="submit" class="contact__button">SEND</button>
      </form>
   </div>
</section>
<script src="https://kit.fontawesome.com/1f2bcb7d29.js" crossorigin="anonymous"></script>