<footer>
   <div class="big-container">
      <div class="footer-info">
         <ul class="info-list">
            <li class="info-item"><a href="./contact.html">CONTACT</a></li>
            <li class="info-item"><a href="">TERMS OF SERVICES</a></li>
            <li class="info-item"><a href="">SHIPPING AND RETURNS</a></li>
         </ul>
         <p class="info-text">
            <font color="#000">© 2021 Shelly.</font> Terms of use
            <font color="#000">and</font> privacy policy.
         </p>
      </div>
      <div class="container">
         <div class="footer-info">
            <input class="info-input" type="text" placeholder="Give an email, get the newsletter." />
            <button><a href=""><img src="./assets/img/svg/line.svg" /></a></button>
         </div>
         <div class="messengers">
            <ul>
               <li>
                  <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
               </li>
               <li>
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
               </li>
               <li>
                  <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
               </li>
               <li>
                  <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</footer>
<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
