<header>
   <div class="header">
      <div class="header__logo">
         <a href="./index.html">
            <img src="./assets/img/Home_img/header/SHOPPE.png" alt="">
         </a>
      </div>
      <div class="header__link">
         <input class="side-menu" type="checkbox" id="side-menu"/>
         <label class="hamb" for="side-menu">
            <span class="hamb-line"></span>
            <span class="hamb-line"></span>
            <span class="hamb-line"></span>
         </label>
         <nav>
            <div class="navbar__page">
               <ul>
                  <li class="header_link_shop header_link_product"><a href="./shop.html">Shop</a></li>
                  <li class="header_link_blog"><a href="#">Blog</a></li>
                  <li class="ourstory header_link_ourstory"><a href="#" class="">Our Story</a></li>
               </ul>
            </div>
            
            <div class="navbar__user">
               <ul>
                  <li class="header_line">
                     <a href="#" >
                        <img src="./assets/img/Home_img/header/search.png" alt="">
                     </a>
                  </li>
                  <li class="header_line">
                     <a href="#" >
                        <img src="./assets/img/Home_img/header/shop.png" alt="">                          
                     </a>
                  </li>
                  <li class="header_line_last">
                     <a href="#" >
                        <img src="./assets/img/Home_img/header/user.png" alt="">
                     </a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
      
   </div>
      <!-- Mobile search -->
      <div class="search-block">
         <img src="./assets/img/Home_img/header/search.png" alt="">
         <form action="">
            <input class="search__input" type="text" placeholder="Search">
         </form>
      </div>
   <hr class="header__underline">
</header>