<header>
   <div class="header__logo">
      <a href="./index.html">
         <img src="./assets/img/Home_img/header/SHOPPE.png" alt="" />
      </a>
   </div>

   <ul>
      <li><a href="./shop.html">Shop</a></li>
      <li><a href="./blog.html">Blog</a></li>
      <li><a href="./our-story.html" class="">Our Story</a></li>
      <li>|</li>
      <li>
         <a href="#" id="search-link">
            <img id="icon-search-global" src="./assets/img/Home_img/header/search.svg" alt="" />
         </a>
      </li>
      <li class="active-cart-visual ">
         <a href="./cart.html">
            <img src="./assets/img/Home_img/header/shop.svg" alt="" />
            <span class="cart__count"></span>
         </a>
      </li>
      <li>
         <a href="./account.html" class="account__href">
            <img src="./assets/img/Home_img/header/user.svg" alt="" />
         </a>
      </li>

      <!-- button-burger -->
      <label id="burber-botton" for="check">
         <input type="checkbox" id="check" />
         <span></span>
         <span></span>
         <span></span>
      </label>

   </ul>

   <div class="burger-nav">
      <div class="header__logo">
         <a href="./index.html">
            <img src="./assets/img/Home_img/header/SHOPPE.png" alt="" />
         </a>
      </div>

      <h1><a href="">home</a></h1>
      <h1><a href="">shop</a></h1>
      <h1><a href="">about</a></h1>
      <h1><a href="">blog</a></h1>
      <h1><a href="">help</a></h1>
      <h1><a href="">contact</a></h1>
      <h1><a href="">search</a></h1>
      <hr>
      <h1><a href="">my account</a></h1>
      <h1><a href="">logout</a></h1>
   </div>
</header>

<!--! conect search global -->
{% include "_html/_base/_includes/_Search-global.html" %}





<!-- <hr class="burger__underline" /> -->

<!-- // burger -->
<!-- <div class="navbar">

   <div class="container nav-container">
      <input class="checkbox" type="checkbox">
      <div class="hamburger-lines">
         <span class="line line1"></span>
         <span class="line line2"></span>
         <span class="line line3"></span>
      </div>


     
   </div>
</div> -->

<!-- nav -->
<!-- 
<nav>
   <div class="navbar__page">
      <ul class="header_none">
         <li class="header_link_shop header_link_product"><a href="./shop.html">Shop</a></li>
         <li class="header_link_blog"><a href="./blog.html">Blog</a></li>
         <li class="ourstory header_link_ourstory"><a href="./our-story.html" class="">Our Story</a></li>
      </ul>
   </div>

   <div class="navbar__user">
      <ul>
         <li class="header_line header_none">
            <a href="#" id="search-link">
               <img id="icon-search-global" src="./assets/img/Home_img/header/search.svg" alt="" />
            </a>
         </li>
         <li class="header_line header_link_cart header_none">
            <a href="./cart.html">
               <img src="./assets/img/Home_img/header/shop.svg" alt="" />
               <span class="cart__count"></span>
            </a>
         </li>
         <li class="header_line_last header_link_account header_none header_link_myaccount">
            <a href="./account.html" class="account__href">
               <img src="./assets/img/Home_img/header/user.svg" alt="" />
            </a>
         </li>
      </ul>
   </div>

   
</nav> -->