<section class="help Scroll_js_right">
   <h3>Help</h3>
   <div class="help-navigation">
      <ul>
         <li>
            <a href="#">
               <div>
               <img src="./assets/img/Help_img/accepted.svg" alt="">
               <span>Terms of Servises</span> 
               </div>
               <img class="toggle" src="./assets/img/Help_img/select-toggle.svg">
            </a>
         </li>
         <li>
            <a href="shop.html">
               <div>
                  <img src="./assets/img/Help_img/delivery-box.svg" alt="">
                  <span>Shipping</span>
               </div>
               <img class="toggle" src="./assets/img/Help_img/select-toggle.svg"></img>
            </a>
         </li>
         <li>
            <a href="#">
               <div>
                  <img src="./assets/img/Help_img/padlock.svg" alt="">
                  <span>Privacy Policy</span>
               </div>
               <img class="toggle" src="./assets/img/Help_img/select-toggle.svg"></img>
            </a>
         </li>
         <li>
            <a href="./my-account.html">
               <div>
                  <img src="./assets/img/Help_img/return.svg" alt="">
                  <span>Return & Exchanges</span>
               </div>
               <img class="toggle" src="./assets/img/Help_img/select-toggle.svg"></img>
            </a>
         </li>
      </ul>
      <div class="help-button">
         <a href="./contact.html">Contact</a>   
      </div>
   </div>
</section>
