<div class="preload" data-preload>
   <p class="text-preload">Shelly</p>
   <div class="underline"></div>
   <p class="under-text-preload">Theme</p>
</div>


<section class="slider_top Scroll_js_right">
   <div class="slider-container">
      <div class="slider">
         <div class="slide" id="slide1">
            <div class="text_prod">
               <h1>Gold big hoops</h1>
               <h2 class="mobile-h2">$ 68,00</h2>
               <a href="./product.html" class="mobile-link"> View Product </a>
            </div>
            <picture>
               <source media="(min-width: 501px)" srcset="./assets/img/Home_img/Slider/dekstop-slider.png" />
               <img class="dekstop-img" src="./assets/img/Home_img/Slider/mobile-slider.png" alt="" />
            </picture>
         </div>
         <div class="slide" id="slide2">
            <div class="text_prod">
               <h1>Gold big hoops</h1>
               <h2>$ 68,00</h2>
               <a href="./product.html"> View Product </a>
            </div>
            <picture>
               <source media="(min-width: 501px)" srcset="./assets/img/Home_img/Slider/dekstop-slider.png" />
               <img class="dekstop-img" src="./assets/img/Home_img/Slider/mobile-slider.png" alt="" />
            </picture>
         </div>
         <div class="slide" id="slide3">
            <div class="text_prod">
               <h1>Gold big hoops</h1>
               <h2>$ 68,00</h2>
               <a href="./product.html"> View Product </a>
            </div>
            <picture>
               <source media="(min-width: 501px)" srcset="./assets/img/Home_img/Slider/dekstop-slider.png" />
               <img class="dekstop-img" src="./assets/img/Home_img/Slider/mobile-slider.png" alt="" />
            </picture>
         </div>
         <div class="slide" id="slide4">
            <div class="text_prod">
               <h1>Gold big hoops</h1>
               <h2>$ 68,00</h2>
               <a href="./product.html"> View Product </a>
            </div>
            <picture>
               <source media="(min-width: 501px)" srcset="./assets/img/Home_img/Slider/dekstop-slider.png" />
               <img class="dekstop-img" src="./assets/img/Home_img/Slider/mobile-slider.png" alt="" />
            </picture>
         </div>
      </div>
      <div class="radio-buttons">
         <input type="radio" name="radio-btn" id="radio1" checked />
         <label for="radio1"></label>
         <input type="radio" name="radio-btn" id="radio2" />
         <label for="radio2"></label>
         <input type="radio" name="radio-btn" id="radio3" />
         <label for="radio3"></label>
         <input type="radio" name="radio-btn" id="radio4" />
         <label for="radio4"></label>
      </div>
   </div>
</section>

<section class="home-body Scroll_js_right">
   <div class="shop-latest">
      <div class="shop-latest-text">
         <h1>Shop The Latest</h1>
         <a href="./shop.html">View All</a>
      </div>
      <div id="rating-container">
         <ul class="shop-latest-blocks"></ul>
         <div id="pagination-info"></div>
         <button id="prev-page">Previous Page</button>
         <button id="next-page">Next Page</button>
      </div>
   </div>
</section>