<header>
   <div class="header">
      <div class="header__logo">
         <a href="./index.html">
            <img src="../../../assets/img/Home_img/header/SHOPPE.png" alt="">
         </a>
      </div>
      <div class="header__link">
         <nav>
            <div class="navbar__page">
               <ul>
                  <li><a href="./shop.html">Shop</a></li>
                  <li><a href="#">Blog</a></li>
                  <li class="ourstory"><a href="#">Our Story</a></li>
               </ul>
            </div>
            <div class="header__verticalhr">
               <hr>
            </div>
            <div class="navbar__user">
               <ul>
                  <li>
                     <a href="#">
                        <img src="../../../assets/img/Home_img/header/search.png" alt="">
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <img src="../../../assets/img/Home_img/header/shop.png" alt="">                          
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <img src="../../../assets/img/Home_img/header/user.png" alt="">
                     </a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
   </div>
</header>

<div class="wrapper">
  <!-- Shop The Latest -->
  <div class="shop-latest">
    <div class="shop-latest-text">
      <p>Shop The Latest</p>
      <a href="#">View All</a>
    </div>
    <div class="shop-latest-container">
      <div class="shop-latest-blocks">
        <!-- Block 1 -->
        <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""><img src="../../../assets/img/Home_img/Img 01.png" alt="" /></a>
              
              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img class="shop-latest__heart" src="../../../assets/img/Home_img/heart.png" alt="">
                </div>
              </div>
            </div>
            <a href="">
                <p class="shop-latest__name">Lira Earrings</p>
                <p class="shop-latest__price">$ 20,00</p>
            </a>
          </div>

       
        <!-- Block 2 -->
        
        <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""><img src="../../../assets/img/Home_img/Img 02.jpg" alt="" /></a>
              
              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img class="shop-latest__heart" src="../../../assets/img/Home_img/heart.png" alt="">
                </div>
              </div>
            </div>
            <a href="">
                <p class="shop-latest__name">Hal Earrings</p>
                <p class="shop-latest__price">$ 25,00</p>
            </a>
          </div>
       
        <!-- Block 3 -->
        <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""><img src="../../../assets/img/Home_img/Img 03.png" alt="" /></a>
              
              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img class="shop-latest__heart" src="../../../assets/img/Home_img/heart.png" alt="">
                </div>
              </div>
            </div>
            <a href="">
                <p class="shop-latest__name">Hair Pin Set of 3</p>
                <p class="shop-latest__price">$ 30,00</p>
            </a>
          </div>
        
        <!-- Block 4 -->
        <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""><img src="../../../assets/img/Home_img/Img 04.png" alt="" /></a>
              
              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img class="shop-latest__heart" src="../../../assets/img/Home_img/heart.png" alt="">
                </div>
              </div>
            </div>
            <a href="">
                <p class="shop-latest__name">Hair Pin Set of 3</p>
                <p class="shop-latest__price">$ 30,00</p>
            </a>
          </div>
        
        <!-- Block 5 -->
        <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""><img src="../../../assets/img/Home_img/Img 05.png" alt="" /></a>
              
              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img class="shop-latest__heart" src="../../../assets/img/Home_img/heart.png" alt="">
                </div>
              </div>
            </div>
            <a href="">
                <p class="shop-latest__name">Plaine Necklace</p>
                <p class="shop-latest__price">$ 19,00</p>
            </a>
          </div>
        
        <!-- Block 6 -->
        <div class="shop-latest__block">
          <div class="shop-latest__img">
            <a href=""><img src="../../../assets/img/Home_img/Img 06.png" alt="" /></a>
            
            <div class="shop-latest_hover">
              <div class="shop-latest_hover_container">
                <a href="">
                  <p>ADD TO CART</p>
                </a>
                <img class="shop-latest__heart" src="../../../assets/img/Home_img/heart.png" alt="">
              </div>
            </div>
          </div>
          <a href="">
            <p class="shop-latest__name">Yuki Hair Pin Set of 3</p>
            <p class="shop-latest__price">$ 29,00</p>
          </a>
        </div>
        
      </div>
    </div>
  </div>
</div>

<section class="slider_top">
   <div class="slider-container">
      <div class="slider">
         <div class="slide" id="slide1">
            <div class="text_prod">
               <h1>Gold big hoops</h1>
               <h2>$ 68,00</h2>
               <a href="#">
                  View Product
               </a>
            </div>
            <img src="../../../assets/img/Home_img/Slider/slider.png" alt="">
         </div>
         <div class="slide" id="slide2">
            <div class="text_prod">
               <h1>Gold big hoops</h1>
               <h2>$ 68,00</h2>
               <a href="#">
                  View Product
               </a>
            </div>
            <img src="../../../assets/img/Home_img/Slider/slider.png" alt="">
         </div>
         <div class="slide" id="slide3">
            <div class="text_prod">
               <h1>Gold big hoops</h1>
               <h2>$ 68,00</h2>
               <a href="#">
                  View Product
               </a>
            </div>
            <img src="../../../assets/img/Home_img/Slider/slider.png" alt="">
         </div>
         <div class="slide" id="slide4">
            <div class="text_prod">
               <h1>Gold big hoops</h1>
               <h2>$ 68,00</h2>
               <a href="#">
                  View Product
               </a>
            </div>
            <img src="../../../assets/img/Home_img/Slider/slider.png" alt="">
         </div>
      </div>
      <div class="radio-buttons">
         <input type="radio" name="radio-btn" id="radio1" checked>
         <label for="radio1"></label>
         <input type="radio" name="radio-btn" id="radio2">
         <label for="radio2"></label>
         <input type="radio" name="radio-btn" id="radio3">
         <label for="radio3"></label>
         <input type="radio" name="radio-btn" id="radio4">
         <label for="radio4"></label>
      </div>
   </div>
</section>

<footer>
 <div class="big-container">
   <div class="footer-info">
    <ul class="info-list">
      <li class="info-item"><a href="">CONTACT</a></li>
      <li class="info-item"><a href="">TERMS OF SERVICES</a></li>
      <li class="info-item"><a href="">SHIPPING AND RETURNS</a></li>
    </ul>
    <p class="info-text">
      <font color="#000">© 2021 Shelly.</font> Terms of use
      <font color="#000">and</font> privacy policy.
    </p>
  </div>
  <div class="container">
  <div class="footer-info">
      <input
        class="info-input"
        type="text"
        placeholder="Give an email, get the newsletter."
      />
      <button><a href=""><img src="./assets/img/svg/line.svg" /></a></button>
</div>
    <div class="messengers">
      <ul>
        <li>
          <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>
<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
