<div class="wrapper">
  <!-- Shop The Latest -->
  <div class="shop-latest">
    <div class="shop-latest-text">
      <p>Shop The Latest</p>
      <a href="#">View All</a>
    </div>
    <div class="shop-latest-container">
      <div class="shop-latest-blocks">
        <!-- Block 1 -->
        <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""><img src="../../../assets/img/Home_img/Img 01.png" alt="" /></a>
              
              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img class="shop-latest__heart" src="../../../assets/img/Home_img/heart.png" alt="">
                </div>
              </div>
            </div>
            <a href="">
                <p class="shop-latest__name">Lira Earrings</p>
                <p class="shop-latest__price">$ 20,00</p>
            </a>
          </div>

       
        <!-- Block 2 -->
        
        <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""><img src="../../../assets/img/Home_img/Img 02.jpg" alt="" /></a>
              
              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img class="shop-latest__heart" src="../../../assets/img/Home_img/heart.png" alt="">
                </div>
              </div>
            </div>
            <a href="">
                <p class="shop-latest__name">Hal Earrings</p>
                <p class="shop-latest__price">$ 25,00</p>
            </a>
          </div>
       
        <!-- Block 3 -->
        <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""><img src="../../../assets/img/Home_img/Img 03.png" alt="" /></a>
              
              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img class="shop-latest__heart" src="../../../assets/img/Home_img/heart.png" alt="">
                </div>
              </div>
            </div>
            <a href="">
                <p class="shop-latest__name">Hair Pin Set of 3</p>
                <p class="shop-latest__price">$ 30,00</p>
            </a>
          </div>
        
        <!-- Block 4 -->
        <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""><img src="../../../assets/img/Home_img/Img 04.png" alt="" /></a>
              
              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img class="shop-latest__heart" src="../../../assets/img/Home_img/heart.png" alt="">
                </div>
              </div>
            </div>
            <a href="">
                <p class="shop-latest__name">Hair Pin Set of 3</p>
                <p class="shop-latest__price">$ 30,00</p>
            </a>
          </div>
        
        <!-- Block 5 -->
        <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""><img src="../../../assets/img/Home_img/Img 05.png" alt="" /></a>
              
              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img class="shop-latest__heart" src="../../../assets/img/Home_img/heart.png" alt="">
                </div>
              </div>
            </div>
            <a href="">
                <p class="shop-latest__name">Plaine Necklace</p>
                <p class="shop-latest__price">$ 19,00</p>
            </a>
          </div>
        
        <!-- Block 6 -->
        <div class="shop-latest__block">
          <div class="shop-latest__img">
            <a href=""><img src="../../../assets/img/Home_img/Img 06.png" alt="" /></a>
            
            <div class="shop-latest_hover">
              <div class="shop-latest_hover_container">
                <a href="">
                  <p>ADD TO CART</p>
                </a>
                <img class="shop-latest__heart" src="../../../assets/img/Home_img/heart.png" alt="">
              </div>
            </div>
          </div>
          <a href="">
            <p class="shop-latest__name">Yuki Hair Pin Set of 3</p>
            <p class="shop-latest__price">$ 29,00</p>
          </a>
        </div>
        
      </div>
    </div>
  </div>
</div>
