<section class="order__confirmation Scroll_js_right">
    <div class="order__window-block">
        <p><img src="./assets/img/Cart_img/svg/checked.svg" alt="cheked">We’ve received your order.</p>
     </div>

    <div class="checkout__container">

        <div class="order__block-name">
            <h2>Order Details</h2>
            
            <div class="order__name-info">
                  <div class="order__details-left">
                    <div>
                        <h5>ORDER NUMBER</h5>
                        <p class="order__number">1879605573994</p>
                    </div>
                    <div>
                        <h5>EMAIL</h5>
                        <p class="order__email">Vitathemes@gmail.com</p>
                    </div>
                    <div>
                        <h5>PAYMENT METHOD</h5>
                        <p class="order__payment">Mastercard*************7865</p>
                    </div>
                    <div>
                        <h5>ORDER DATE</h5>
                        <p class="order__date">October 8,2020</p>
                    </div>
                  </div>
                  <hr>
                  <div class="order__details-right">
                    <div>
                        <h5>DELIVERY OPTIONS</h5>
                        <p class="order__delivery">Standard delivery</p>
                    </div>
                    <div>
                        <h5>DELIVERY ADDRESS</h5>
                        <p class="order__address-country">Ukraine</p>
                        <p class="order__address-city">Rivne</p>
                        <p class="order__address-street">prospekt Myru</p>
                        <p class="order__address-postcode">33004</p>
                    </div>
                    <div>
                        <h5>CONTACT NUMBER</h5>
                        <p class="order__contact-phone">+44 8749790988</p>
                    </div>
                  </div>
            </div>
            
        </div>

        <div class="checkout__block-order">
            <h2>Order Summary</h2>

            <div class="checkout__order-info">

                <div class="block__order">
                    <div class="block__order-title">
                        <span>PRODUCT</span>
                        <span>TOTAL</span>
                    </div>
                    <div class="block__order-item"> 
                    </div>
                    <div class="order__block-subtotal">
                        <span>SUBTOTAL</span>
                        <span class="order__subtotal"></span>
                    </div>
                    <div class="order__block-shipping">
                        <span>SHIPPING</span>
                        <span class="order__shipping"></span>
                    </div>
                    <div class="order__block-total">
                        <span>TOTAL</span>
                        <span class="order__total"></span>
                    </div>
                </div>
    
            </div>
        </div>
        
    </div>
</section>