<section class="blog-container Scroll_js_right">
   <div>
      <h1 class="title">About</h1>
      <div class="description">Who we are and why we do what we do!</div>
      <div class="text">
         <p>
            Duis rutrum dictum libero quis rutrum. Etiam sed neque aliquam, sollicitudin ante a, gravida arcu.
            Nam fringilla molestie velit, eget pellentesque risus scelerisque a.
            Nam ac urna maximus, tempor magna et, placerat urna. Curabitur eu magna enim.
            Proin placerat tortor lacus, ac sodales lectus placerat quis.
         </p>
      </div>
   </div>

  <div>
      <h2 class="title-h2">Top trends</h2>
      <img class="image" src="assets/img/our-story/01.jpg" alt="About Image">
      <div class="text">
         <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero.
            Sed quis mauris eget arcu facilisis consequat sed eu felis.
         </p>
      </div>
      <ul class="list">
         <li class="list__item">Consectetur adipiscing elit. Aliquam placerat</li>
         <li class="list__item">Lorem ipsum dolor sit amet consectetur </li>
      </ul>
  </div>
   <div>
      <h2 class="title-h2">Produced with care</h2>
      <img class="image" src="assets/img/our-story/01.jpg" alt="About Image">
      <div class="text">
         <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero.
            Sed quis mauris eget arcu facilisis consequat sed eu felis. Nunc sed porta augue.
            Morbi porta tempor odio, in molestie diam bibendu.
         </p>
      </div>
   </div>
</section>