<section class="Product">
   <!-- Старайтесь аби класни не були похожі!!! -->

   <article class="a">
      <span>a</span>
   </article>
   <article class="b">
   <div class="product__info">
         <div class="info__tab-pages">
            <ul>
               <li><h3 class="info__tab-page info_item1 info__tab__line">Description</h3></li>
               <li><h3 class="info__tab-page info_item2">Aditional information</h3></li>
               <li><h3 class="info__tab-page info_item3">Reviews(0)</h3></li>
            </ul>
         </div>
         <hr class="header__underline">
         <div class="product__page1 product__page">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget arcu facilisis consequat sed eu felis. Nunc sed porta augue. Morbi porta tempor odio, in molestie diam bibendum sed.</p>
         </div>
         <div class="product__page2 product__page">
            <ul>
               <li><h5>Weight: <span class="prduct__charapter">0.3 kg</span></h5></li>
               <li><h5>Dimentions: <span class="prduct__charapter">15 x 10 x 1 cm</span></h5></li>
               <li><h5>Colours: <span class="prduct__charapter">Black, Browns, White</span></h5></li>
               <li><h5>Material: <span class="prduct__charapter"> Metal</span></h5></li>
            </ul>
         </div>
         <div class="product__page3 product__page">
            <div class="reviews__block">
               <div class="reviews">
                  <h3 class="amount-reviews-title"><span class="amount-reviews">2</span> Reviews for lira earings</h3>
                  <div class="review__block item1">
                     <h3>Scarlet withch <span class="review__date">6 May, 2020</span></h3>
                     <div class="stars__amount">
                        <img src="./assets/img/Product_img/svg/Vectorstar_black_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_black_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_black_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_null_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_null_background.svg" alt="star">
                     </div>
                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. </p>
                  </div>
                  <hr class="header__underline">
                  <div class="review__block item2">
                     <h3>Scarlet withch <span class="review__date">6 May, 2020</span></h3>
                     <div class="stars__amount">
                        <img src="./assets/img/Product_img/svg/Vectorstar_black_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_black_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_black_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_null_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_null_background.svg" alt="star">
                     </div>
                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat.</p>
                  </div>
               </div>

               <div class="add-reviews">
                  <h3>Add a Review</h3>
                  <p class="add-reviews__text">Your email address will not be published. Required fields are marked *</p>
                  <form action="#" method="get">
                     <div class="add-reviews__inputs">
                        <textarea name="UserComment" id="" cols="30" rows="5" placeholder="Your Review*"></textarea>
                        <input name="UserName" type="text" placeholder="Enter your name*">
                        <input name="UserMail" type="email" placeholder="Enter your Email*">
                        <div class="checkbox-to-save">
                           <input type="checkbox" id="saveUserData">
                           <label for="saveUserData"><span>Save my name, email, and website in this browser for the next time I comment</span></label>
                        </div>
                     </div>
                     <div class="add-rating">
                        <span>Your Rating*</span>
                        <div class="stars-rating">
                           <div class="stars-rating__items">
                              <input type="radio" value="5" class="stars-rating__item" name="stars-rating" id="stars-rating__5">
                              <label for="stars-rating__5" class="stars-rating__label"></label>
                              <input type="radio" value="4" class="stars-rating__item" name="stars-rating" id="stars-rating__4">
                              <label for="stars-rating__4" class="stars-rating__label"></label>
                              <input type="radio" value="3" class="stars-rating__item" name="stars-rating" id="stars-rating__3">
                              <label for="stars-rating__3" class="stars-rating__label"></label>
                              <input type="radio" value="2" class="stars-rating__item" name="stars-rating" id="stars-rating__2">
                              <label for="stars-rating__2" class="stars-rating__label"></label>
                              <input type="radio" value="1" class="stars-rating__item" name="stars-rating" id="stars-rating__1">
                              <label for="stars-rating__1" class="stars-rating__label"></label>
                           </div>
                        </div>
                     </div>
                     <div class="submit__btn">
                        <button type="submit"><span>Submit</span></button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </article>
   <article class="c">
      c
   </article>

</section>

