<section class="Product">
   <article class="a" id="article-change">
      <div class="product--overview">
         <div class="product--overview__pictures">
            <img src="./assets/img/Product_img/Img 01 copy.png" alt="" />
            <img src="./assets/img/Product_img/Img 01 copy.png" alt="" />
            <img src="./assets/img/Product_img/Img 01 copy.png" alt="" />
            <img src="./assets/img/Product_img/Img 01 copy.png" alt="" />
            <img src="../../../assets/img/Product_img/Img 01 copy.png" alt="" class="picture-big" />
            <div class="progress-bar" id="progress-bar">
               <div class="progress-bar__line"></div>
            </div>
         </div>
         <div class="product--overview__view">
            <h3>Lira Earrings</h3>
            <span class="price">$ 20,00</span>
            <p>
               Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet
               fugit ab pariatur eum hic nulla, nemo vero impedit! Sit illum impedit
               cupiditate sequi aliquam odit voluptatum exercitationem! Ipsam,
               voluptatum corrupti?
            </p>
            <div class="btn--row">
               <div class="change--amount">
                  <button class="minus">-</button>
                  <span class="amount">1</span>
                  <button class="plus">+</button>
               </div>
               <div class="add-to-cart">
                  <button>ADD TO CART</button>
               </div>
            </div>
            <div class="icons--row">
               <img class="product__heart" src="../../../assets/img/Home_img/Body/heart_bg.png" alt="" />
               <div class="messengers">
                  <ul>
                     <li>
                        <a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
                     </li>
                     <li>
                        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                     </li>
                     <li>
                        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                     </li>
                     <li>
                        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="misc">
               <p>
                  <font color="#000">SKU:</font> 12
               </p>
               <p>
                  <font color="#000">Category:</font> Fashion, Style
               </p>
            </div>
         </div>
      </div>
   </article>

   <article class="b">
      <div class="product__info">
         <div class="info__tab-pages">
            <ul>
               <li>
                  <h3 class="info__tab-page info_item1 info__tab__line">Description</h3>
               </li>
               <li>
                  <h3 class="info__tab-page info_item2">Aditional information</h3>
               </li>
               <li>
                  <h3 class="info__tab-page info_item3">Reviews(<span class="amount-reviews2">2</span>)</h3>
               </li>
            </ul>
         </div>
         <hr class="header__underline">
         <div id="product__page1" class="product__page1 product__page">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit,
               sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget arcu facilisis
               consequat sed eu felis. Nunc sed porta augue. Morbi porta tempor odio, in molestie diam bibendum sed.</p>
         </div>
         <div id="product__page2" class="product__page2 product__page">
            <ul>
               <li>
                  <h5>Weight: <span class="prduct__charapter">0.3 kg</span></h5>
               </li>
               <li>
                  <h5>Dimentions: <span class="prduct__charapter">15 x 10 x 1 cm</span></h5>
               </li>
               <li>
                  <h5>Colours: <span class="prduct__charapter">Black, Browns, White</span></h5>
               </li>
               <li>
                  <h5>Material: <span class="prduct__charapter"> Metal</span></h5>
               </li>
            </ul>
         </div>
         <div id="product__page3" class="product__page3 product__page">
            <div class="reviews__block">
               <div class="reviews">
                  <h3 class="amount-reviews-title"><span class="amount-reviews">2</span> Reviews for lira earings</h3>
                  <div class="review__block review__block_item1">
                     <h3>Scarlet withch <span class="review__date">6 May, 2020</span></h3>
                     <div class="stars__amount">
                        <img src="./assets/img/Product_img/svg/starSvgFillthree.svg" alt="star">
                     </div>
                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet. </p>
                  </div>
                  <hr class="header__underline">
                  <div class="review__block review__block_item2">
                     <h3>Scarlet withch <span class="review__date">6 May, 2020</span></h3>
                     <div class="stars__amount">
                        <img src="./assets/img/Product_img/svg/starSvgFillthree.svg" alt="star">
                     </div>
                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat.
                     </p>
                  </div>
               </div>

               <div class="add-reviews">
                  <h3>Add a Review</h3>
                  <p class="add-reviews__text">Your email address will not be published. Required fields are marked *
                  </p>
                  <form action="#" method="get" class="form" id="form">
                     <div class="add-reviews__inputs">
                        <textarea name="UserComment" id="ReviewUserComment" cols="30" rows="5" placeholder="Your Review*" required></textarea>
                        <input name="UserName" id="ReviewUserName" type="text" placeholder="Enter your name*" required>
                        <input name="UserMail" id="ReviewUserMail" type="email" placeholder="Enter your Email*" required>
                        <div class="checkbox-to-save">
                           <label><input type="checkbox" id="saveUserData"><span class="fake-checkbox"></span><span class="fake-checkbox__lable">Save my name, email, and website in this browser for the next time I comment</span></label>
                        </div>
                     </div>
                     <div class="add-rating">
                        <span>Your Rating*</span>
                        <div class="stars-rating">
                           <div class="stars-rating__items">
                              <input type="radio" value="5" class="stars-rating__item" name="starsRating"
                                 id="stars-rating__5">
                              <label for="stars-rating__5" class="stars-rating__label"></label>
                              <input type="radio" value="4" class="stars-rating__item" name="starsRating"
                                 id="stars-rating__4">
                              <label for="stars-rating__4" class="stars-rating__label"></label>
                              <input type="radio" value="3" class="stars-rating__item" name="starsRating"
                                 id="stars-rating__3">
                              <label for="stars-rating__3" class="stars-rating__label"></label>
                              <input type="radio" value="2" class="stars-rating__item" name="starsRating"
                                 id="stars-rating__2">
                              <label for="stars-rating__2" class="stars-rating__label"></label>
                              <input type="radio" value="1" class="stars-rating__item" name="starsRating"
                                 id="stars-rating__1">
                              <label for="stars-rating__1" class="stars-rating__label"></label>
                           </div>
                        </div>
                     </div>
                     <div class="submit__btn">
                        <button type="submit" id="submitReviews"><span>Submit</span></button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </article>
   <article class="c">
      <!-- Similar Items -->
      <h2 class="similar__title">Similar Items</h2>
      <div class="shop-latest-blocks">
         <!-- Block 1 -->
         <div class="shop-latest__block">
            <div class="shop-latest__img">
               <a href=""><img src="../../../assets/img/Home_img/Body/Img 02.png" alt="" /></a>

               <div class="shop-latest_hover">
                  <div class="shop-latest_hover_container">
                     <a href="">
                        <p>ADD TO CART</p>
                     </a>
                     <img class="shop-latest__heart" src="../../../assets/img/Home_img/Body/heart_bg.png" alt="" />
                  </div>
               </div>
            </div>

            <h3 class="shop-latest__name"><a href="#">Ollie Earrings</a></h3>
            <h4 class="shop-latest__price"><a href="#">$ 30,00</a></h4>
         </div>

         <!-- Block 2 -->

         <div class="shop-latest__block">
            <div class="shop-latest__img">
               <a href=""><img src="../../../assets/img/Home_img/Body/Img 05.png" alt="" /></a>

               <div class="shop-latest_hover">
                  <div class="shop-latest_hover_container">
                     <a href="">
                        <p>ADD TO CART</p>
                     </a>
                     <img class="shop-latest__heart" src="../../../assets/img/Home_img/Body/heart_bg.png" alt="" />
                  </div>
               </div>
            </div>

            <h3 class="shop-latest__name"><a href="">Hal Earrings</a></h3>
            <h4 class="shop-latest__price"><a href="">$ 25,00</a></h4>
         </div>

         <!-- Block 3 -->
         <div class="shop-latest__block">
            <div class="shop-latest__img">
               <a href=""><img src="../../../assets/img/Home_img/Body/Img 03.png" alt="" /></a>

               <div class="shop-latest_hover">
                  <div class="shop-latest_hover_container">
                     <a href="">
                        <p>ADD TO CART</p>
                     </a>
                     <img class="shop-latest__heart" src="../../../assets/img/Home_img/Body/heart_bg.png" alt="" />
                  </div>
               </div>
            </div>

            <h3 class="shop-latest__name">
               <a href="#">Kaede Hair Pin Set Of 3</a>
            </h3>
            <h4 class="shop-latest__price"><a href="#">$ 30,00</a></h4>
         </div>
      </div>
   </article>

</section>

<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
<script>document.addEventListener('DOMContentLoaded', function () {
   // Get the stored imgPath, product name, and price from localStorage
   const imgPath = localStorage.getItem('selectedImgPath');
   const productName = localStorage.getItem('selectedProductName');
   const productPrice = localStorage.getItem('selectedProductPrice');
 
   console.log('Stored Image Path:', imgPath);
   console.log('Stored Product Name:', productName);
   console.log('Stored Product Price:', productPrice);
 
   if (imgPath && productName && productPrice) {
     // Оновдення фото
     let imgChange = document.querySelectorAll('.product--overview__pictures img');
     imgChange.forEach((img) => {
       img.src = imgPath;
     });
 
     // Оновлення назви і ціни
     document.querySelector('.product--overview__view h3').textContent = productName;
     document.querySelector('.product--overview__view .price').textContent = productPrice;
 
     // Видалення зі сховку
     localStorage.removeItem('selectedImgPath');
     localStorage.removeItem('selectedProductName');
     localStorage.removeItem('selectedProductPrice');
   }
 });</script>
</section>