<section class="Product">
   <!-- Старайтесь аби класни не були похожі!!! -->

   <article class="a">
      <span>a</span>
   </article>
   <article class="b">
   <div class="product__info">
         <div class="info__tab-pages">
            <ul>
               <li><h3 class="info__tab-page info_item1 info__tab__line">Description</h3></li>
               <li><h3 class="info__tab-page info_item2">Aditional information</h3></li>
               <li><h3 class="info__tab-page info_item3">Reviews(0)</h3></li>
            </ul>
         </div>
         <hr class="header__underline">
         <div class="product__page1 product__page">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat, augue a volutpat hendrerit, sapien tortor faucibus augue, a maximus elit ex vitae libero. Sed quis mauris eget arcu facilisis consequat sed eu felis. Nunc sed porta augue. Morbi porta tempor odio, in molestie diam bibendum sed.</p>
         </div>
         <div class="product__page2 product__page">
            <ul>
               <li><h5>Weight: <span class="prduct__charapter">0.3 kg</span></h5></li>
               <li><h5>Dimentions: <span class="prduct__charapter">15 x 10 x 1 cm</span></h5></li>
               <li><h5>Colours: <span class="prduct__charapter">Black, Browns, White</span></h5></li>
               <li><h5>Material: <span class="prduct__charapter"> Metal</span></h5></li>
            </ul>
         </div>
         <div class="product__page3 product__page">
            <div class="reviews__block">
               <div class="reviews">
                  <h3 class="amount-reviews-title"><span class="amount-reviews">2</span> Reviews for lira earings</h3>
                  <div class="reviews__block item1">
                     <h3>Scarlet withch <span class="review__date">6 May, 2020</span></h3>
                     <div class="stars__amount">
                        <img src="./assets/img/Product_img/svg/Vectorstar_black_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_black_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_black_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_null_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_null_background.svg" alt="star">
                     </div>
                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. </p>
                  </div>
                  <hr class="header__underline">
                  <div class="reviews__block item2">
                     <h3>Scarlet withch <span class="review__date">6 May, 2020</span></h3>
                     <div class="stars__amount">
                        <img src="./assets/img/Product_img/svg/Vectorstar_black_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_black_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_black_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_null_background.svg" alt="star">
                        <img src="./assets/img/Product_img/svg/Vectorstar_null_background.svg" alt="star">
                     </div>
                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat.</p>
                  </div>
               </div>

               <div class="add-reviews">
                  
               </div>
            </div>
         </div>
      </div>
   </article>
   <article class="c">
      c
   </article>

</section>