<section class="reset-password">
   <div class="reset-password__container">
      <div class="reset-password__block-header">
         <h1 class="reset-password__title">Have you Forgotten Your Password ?</h1>
         <div class="reset-password__text">
            If you've forgotten your password, enter your e-mail address and we'll send you an e-mail
         </div>
      </div>
      <form action="#" class="reset-password__form form-reset">
         <div class="form-reset__body">
            <input autocomplete="off" name="inputEmail" tabindex="1" type="email" class="form-reset__input"
               placeholder="Email">
            <a href="" class="form-reset__button-reset">
               <i class="fa-solid fa-circle-xmark"></i>
            </a>
         </div>
         <button tabindex="2" name="nameButton" type="submit" class="form-reset__button">RESET PASSWORD</button>
      </form>
   </div>
</section>
<script src="https://kit.fontawesome.com/1f2bcb7d29.js" crossorigin="anonymous"></script>