<header>
  <div class="header">
    <div class="header__logo">
      <a href="./index.html">
        <img src="./assets/img/Home_img/header/SHOPPE.png" alt="" />
      </a>
    </div>
    <div class="header__link">
      <nav>
        <div class="navbar__page">
          <ul>
            <li class="act"><a href="./shop.html">Shop</a></li>
            <li><a href="#">Blog</a></li>
            <li class="ourstory"><a href="#">Our Story</a></li>
          </ul>
        </div>
        <div class="header__verticalhr">
          <hr />
        </div>
        <div class="navbar__user">
          <ul>
            <li class="header_line">
              <a href="#">
                <img src="./assets/img/Home_img/header/search.png" alt="" />
              </a>
            </li>
            <li class="header_line">
              <a href="#">
                <img src="./assets/img/Home_img/header/shop.png" alt="" />
              </a>
            </li>
            <li class="header_line_last">
              <a href="#">
                <img src="./assets/img/Home_img/header/user.png" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <hr class="header__underline" />
</header>
<section class="Shop">
  <article class="A">f</article>
  <article class="B">
    <!-- Shop The Latest -->
    <div class="shop-latest">
      <div class="shop-latest-container">
        <div class="shop-latest-blocks">
          <!-- Block 1 -->
          <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""
                ><img src="../../../assets/img/Home_img/Body/Img 01.png" alt=""
              /></a>

              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img
                    class="shop-latest__heart"
                    src="./assets/img/Home_img/Body/heart.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <h3 class="shop-latest__name"><a href="#">Lira Earrings</a></h3>
            <h4 class="shop-latest__price"><a href="#">$ 20,00</a></h4>
          </div>

          <!-- Block 2 -->

          <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""
                ><img src="../../../assets/img/Home_img/Body/Img 02.png" alt=""
              /></a>

              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img
                    class="shop-latest__heart"
                    src="./assets/img/Home_img/Body/heart.png"
                    alt=""
                  />
                </div>
              </div>
            </div>

            <h3 class="shop-latest__name"><a href="#">Hal Earrings</a></h3>
            <h4 class="shop-latest__price"><a href="#">$ 25,00</a></h4>
          </div>

          <!-- Block 3 -->
          <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""
                ><img src="../../../assets/img/Home_img/Body/Img 03.png" alt=""
              /></a>

              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img
                    class="shop-latest__heart"
                    src="./assets/img/Home_img/Body/heart.png"
                    alt=""
                  />
                </div>
              </div>
            </div>

            <h3 class="shop-latest__name">
              <a href="#">Kaede Hair Pin Set of 3</a>
            </h3>
            <h4 class="shop-latest__price"><a href="#">$ 30,00</a></h4>
          </div>

          <!-- Block 4 -->
          <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""
                ><img src="../../../assets/img/Home_img/Body/Img 04.png" alt=""
              /></a>

              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img
                    class="shop-latest__heart"
                    src="./assets/img/Home_img/Body/heart.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <h3 class="shop-latest__name"><a href="#">Hair Pin Set of 3</a></h3>
            <h4 class="shop-latest__price"><a href="#">$ 30,00</a></h4>
          </div>

          <!-- Block 5 -->
          <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""
                ><img src="../../../assets/img/Home_img/Body/Img 05.png" alt=""
              /></a>

              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img
                    class="shop-latest__heart"
                    src="./assets/img/Home_img/Body/heart.png"
                    alt=""
                  />
                </div>
              </div>
            </div>

            <h3 class="shop-latest__name"><a href="">Plaine Necklace</a></h3>
            <h4 class="shop-latest__price"><a href="">$ 19,00</a></h4>
          </div>

          <!-- Block 6 -->
          <div class="shop-latest__block">
            <div class="shop-latest__img">
              <a href=""
                ><img src="../../../assets/img/Home_img/Body/Img 06.png" alt=""
              /></a>

              <div class="shop-latest_hover">
                <div class="shop-latest_hover_container">
                  <a href="">
                    <p>ADD TO CART</p>
                  </a>
                  <img
                    class="shop-latest__heart"
                    src="./assets/img/Home_img/Body/heart.png"
                    alt=""
                  />
                </div>
              </div>
            </div>

            <h3 class="shop-latest__name">
              <a href="">Yuki Hair Pin Set of 3</a>
            </h3>
            <h4 class="shop-latest__price"><a href="">$ 29,00</a></h4>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<h1 class="shop">Welcome Shop</h1>
<a href="../../../index.html">Силка на Home</a>
