                 <!-- Block 1 -->
                 <div id="hide" class="shop-latest__block">
                    <div class="shop-latest__img">
                       <a href="./product.html"><img src="./assets/img/Home_img/Body/Img 01.png" alt="" /></a>

                       <div class="shop-latest_hover">
                          <div class="shop-latest_hover_container">
                             <a href="">
                                <p>ADD TO CART</p>
                             </a>
                             <img class="shop-latest__heart" src="./assets/img/Home_img/Body/heart_bg.png" alt="" />
                          </div>
                       </div>
                       <div class="label-container">
                          <div class="add-sold">Sold Out</div>

                       </div>
                    </div>
                    <h3 class="shop-latest__name"><a href="#">Lira Earrings</a></h3>
                    <h4 class="shop-latest__price">
                       <a href="#">$ 20,00</a>
                    </h4>
                 </div>

                 <!-- Block 2 -->

                 <div id="hide" class="shop-latest__block">
                    <div class="shop-latest__img ">
                       <a href=""><img src="./assets/img/Home_img/Body/Img 02.png" alt="" /></a>

                       <div class="shop-latest_hover">
                          <div class="shop-latest_hover_container">
                             <a href="">
                                <p>ADD TO CART</p>
                             </a>
                             <img class="shop-latest__heart" src="./assets/img/Home_img/Body/heart_bg.png" alt="" />
                          </div>

                       </div>
                       <div class="label-container">

                          <div class="add-earrings category">Earrings</div>
                       </div>
                    </div>

                    <h3 class="shop-latest__name"><a href="#">Hal Earrings</a></h3>
                    <h4 class="shop-latest__price"><a href="#">$ 25,00</a></h4>
                 </div>

                 <!-- Block 3 -->
                 <div id="hide" class="shop-latest__block">
                    <div class="shop-latest__img">
                       <a href=""><img src="./assets/img/Home_img/Body/Img 03.png" alt="" /></a>

                       <div class="shop-latest_hover">
                          <div class="shop-latest_hover_container">
                             <a href="">
                                <p>ADD TO CART</p>
                             </a>
                             <img class="shop-latest__heart" src="./assets/img/Home_img/Body/heart_bg.png" alt="" />
                          </div>

                       </div>
                       <div class="label-container">

                          <div class="add-discount">-21%</div>
                       </div>
                    </div>

                    <h3 class="shop-latest__name">
                       <a href="#">Kaede Hair Pin Set of 3</a>
                    </h3>
                    <h4 class="shop-latest__price"><a href="#">$ 30,00</a></h4>
                 </div>

                 <!-- Block 4 -->
                 <div id="hide" class="shop-latest__block">
                    <div class="shop-latest__img">
                       <a href=""><img src="./assets/img/Home_img/Body/Img 04.png" alt="" /></a>

                       <div class="shop-latest_hover">
                          <div class="shop-latest_hover_container">
                             <a href="">
                                <p>ADD TO CART</p>
                             </a>
                             <img class="shop-latest__heart" src="./assets/img/Home_img/Body/heart_bg.png" alt="" />
                          </div>

                       </div>
                       <div class="label-container">

                          <div class="add-new">New</div>

                       </div>

                    </div>
                    <h3 class="shop-latest__name"><a href="#">Hair Pin Set of 3</a></h3>
                    <h4 class="shop-latest__price"><a href="#">$ 30,00</a></h4>
                 </div>

                 <!-- Block 5 -->
                 <div id="hide" class="shop-latest__block">
                    <div class="shop-latest__img">
                       <a href=""><img src="./assets/img/Home_img/Body/Img 05.png" alt="" /></a>

                       <div class="shop-latest_hover">
                          <div class="shop-latest_hover_container">
                             <a href="">
                                <p>ADD TO CART</p>
                             </a>
                             <img class="shop-latest__heart" src="./assets/img/Home_img/Body/heart_bg.png" alt="" />
                          </div>

                       </div>
                       <div class="label-container">
                          <div class="add-popular category">Popular</div>

                          <div class="add-pendants category">Pendants</div>

                       </div>
                    </div>
                    <h3 class="shop-latest__name"><a href="">Plaine Necklace</a></h3>
                    <h4 class="shop-latest__price"><a href="">$ 19,00</a></h4>
                 </div>
                 <!-- Block 6 -->
                 <div id="hide" class="shop-latest__block">
                    <div class="shop-latest__img">
                       <a href=""><img src="./assets/img/Home_img/Body/Img 06.png" alt="" /></a>

                       <div class="shop-latest_hover">
                          <div class="shop-latest_hover_container">
                             <a href="">
                                <p>ADD TO CART</p>
                             </a>
                             <img class="shop-latest__heart" src="./assets/img/Home_img/Body/heart_bg.png" alt="" />
                          </div>

                       </div>
                       <div class="label-container">

                          <div class="add-sold">Sold out</div>
                       </div>
                    </div>

                    <h3 class="shop-latest__name">
                       <a href="#">Yuki Hair Pin Set of 3</a>
                    </h3>
                    <h4 class="shop-latest__price"><a href="">$ 29,00</a></h4>
                 </div>

                 <!-- Block 1 -->

                 <div id="hide" class="shop-latest__block">
                    <div class="shop-latest__img">
                       <a href="./product.html"><img src="./assets/img/Home_img/Body/Img 01.png" alt="" /></a>

                       <div class="shop-latest_hover">
                          <div class="shop-latest_hover_container">
                             <a href="#">
                                <p>ADD TO CART</p>
                             </a>
                             <img class="shop-latest__heart" src="./assets/img/Home_img/Body/heart_bg.png" alt="" />
                          </div>
                       </div>
                       <div class="label-container">
                          <div class="add-pendants category">Pendants</div>

                       </div>
                    </div>
                    <h3 class="shop-latest__name"><a href="#">Lira Earrings</a></h3>
                    <h4 class="shop-latest__price">
                       <a href="#">$ 20,00</a>
                    </h4>
                 </div>

                 <!-- Block 2 -->

                 <div id="hide" class="shop-latest__block">
                    <div class="shop-latest__img ">
                       <a href="#"><img src="./assets/img/Home_img/Body/Img 02.png" alt="" /></a>

                       <div class="shop-latest_hover">
                          <div class="shop-latest_hover_container">
                             <a href="#">
                                <p>ADD TO CART</p>
                             </a>
                             <img class="shop-latest__heart" src="./assets/img/Home_img/Body/heart_bg.png" alt="" />
                          </div>

                       </div>
                       <div class="label-container">

                          <div class="add-bracelets category">Bracelets</div>
                       </div>
                    </div>

                    <h3 class="shop-latest__name"><a href="#">Hal Earrings</a></h3>
                    <h4 class="shop-latest__price"><a href="#">$ 25,00</a></h4>
                 </div>

                 <!-- Block 3 -->
                 <div id="hide" class="shop-latest__block">
                    <div class="shop-latest__img">
                       <a href="#"><img src="./assets/img/Home_img/Body/Img 03.png" alt="" /></a>

                       <div class="shop-latest_hover">
                          <div class="shop-latest_hover_container">
                             <a href="#">
                                <p>ADD TO CART</p>
                             </a>
                             <img class="shop-latest__heart" src="./assets/img/Home_img/Body/heart_bg.png" alt="" />
                          </div>

                       </div>
                       <div class="label-container">
                          <div class="add-rings category">Rings</div>

                          <div class="add-discount">-21%</div>
                       </div>
                    </div>

                    <h3 class="shop-latest__name">
                       <a href="#">Kaede Hair Pin Set of 3</a>
                    </h3>
                    <h4 class="shop-latest__price"><a href="#">$ 30,00</a></h4>
                 </div>

                 <!-- Block 4 -->
                 <div id="hide" class="shop-latest__block">
                    <div class="shop-latest__img">
                       <a href="#"><img src="./assets/img/Home_img/Body/Img 04.png" alt="" /></a>

                       <div class="shop-latest_hover">
                          <div class="shop-latest_hover_container">
                             <a href="#">
                                <p>ADD TO CART</p>
                             </a>
                             <img class="shop-latest__heart" src="./assets/img/Home_img/Body/heart_bg.png" alt="" />
                          </div>

                       </div>
                       <div class="label-container">

                          <div class="add-new">New</div>

                       </div>

                    </div>
                    <h3 class="shop-latest__name"><a href="#">Hair Pin Set of 3</a></h3>
                    <h4 class="shop-latest__price"><a href="#">$ 30,00</a></h4>
                 </div>

                 <!-- Block 5 -->
                 <div id="hide" class="shop-latest__block">
                    <div class="shop-latest__img">
                       <a href="#"><img src="./assets/img/Home_img/Body/Img 05.png" alt="" /></a>

                       <div class="shop-latest_hover">
                          <div class="shop-latest_hover_container">
                             <a href="#">
                                <p>ADD TO CART</p>
                             </a>
                             <img class="shop-latest__heart" src="./assets/img/Home_img/Body/heart_bg.png" alt="" />
                          </div>

                       </div>
                       <div class="label-container">
                          <div class="add-earrings category">Earrings</div>


                       </div>
                    </div>
                    <h3 class="shop-latest__name"><a href="">Plaine Necklace</a></h3>
                    <h4 class="shop-latest__price"><a href="">$ 19,00</a></h4>
                 </div>

                 <!-- Block 6 -->
                 <div id="hide" class="shop-latest__block">
                    <div class="shop-latest__img">
                       <a href="#"><img src="./assets/img/Home_img/Body/Img 06.png" alt="" /></a>

                       <div class="shop-latest_hover">
                          <div class="shop-latest_hover_container">
                             <a href="#">
                                <p>ADD TO CART</p>
                             </a>
                             <img class="shop-latest__heart" src="./assets/img/Home_img/Body/heart_bg.png" alt="" />
                          </div>

                       </div>
                       <div class="label-container">

                          <div class="add-sold">Sold out</div>
                       </div>
                    </div>

                    <h3 class="shop-latest__name">
                       <a href="#">Yuki Hair Pin Set of 3</a>
                    </h3>
                    <h4 class="shop-latest__price"><a href="">$ 29,00</a></h4>
                 </div>