.order__confirmation {
  max-width: 1248px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: clamp(0px, 4vw, 250px);
  position: relative;

  .order__window-block {
    position: absolute;
    top: -106px;
    background: $light-gray-color;
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    padding: 24px;

    p {
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
      }
    }
  }

  .checkout__container {
    margin-top: 40px;

    .checkout__block-order {
      .checkout__order-info {
        padding: clamp(24px, 4vw, 37px) clamp(30px, 4vw, 59px);
      }
    }

    .order__block-name {
      width: 50%;

      .order__name-info {
        display: flex;
        gap: 80px;

        hr {
          display: none;
        }
        .order__details-left {
          width: 50%;
        }

        .order__details-right {
          width: 50%;
        }

        div {
          margin-bottom: 30px;

          h5 {
            margin-bottom: 6px;
          }
        }

        p {
          color: $placeholder-color;
        }
      }
    }
  }
}

@media screen and(max-width: 992px) {
  .order__confirmation {
    .order__block-name {
      width: 100% !important;
      .order__name-info {
        display: flex;
      }
    }
  }
  .checkout__container {
    gap: 0px;
  }
  .checkout__order-info {
    padding: 0px !important;
  }
}

@media screen and(max-width: 475px) {
  .order__confirmation {
    .order__block-name {
      width: 100% !important;
      .order__name-info {
        display: flex;
        flex-direction: column;
        gap: 0px !important;
        text-align: center;

        hr {
          display: block;
          margin: -30px 0px 30px;
        }

        .order__details-left {
          width: 100% !important;
        }
        .order__details-right {
          width: 100% !important;
        }
      }
    }
  }
  .checkout__container {
    gap: 0px;
  }
}
